STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
0, "English"
1, "Battery Mode"
2, "Select the power scheme:"
3, "&Settings"
4, "Use &monochromatic icons"
5, "Configure"
6, "&Autostart with Windows"
7, "Fixed screen &brightness"

9, "E&xit"
10, "Version"
11, "Battery Mode &website"
12, "https://en.bmode.tarcode.ru"
13, "&Information about power supply system"

15, "&Power"
16, "&Enable or disable the system icons"
17, "Windows &Mobility Center"

20, "Power scheme &indicator"
21, "&Don't show"
22, "Show on the &primary monitor"
23, "Show on &all monitors"
24, "Transparency"

26, "&Hidden power schemes"
27, "Hidden scheme"

30, "Enable adaptive brightness"
31, "Disable adaptive brightness"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Automatic &updates"
42, "Turn &on automatic updates"
43, "Ch&eck for Updates"
44, "New version of %0:s is available\nClick here for more details"
45, "Update successful\nThe new version is %0:s"
46, "Update failed\nClick here to visit the website"

50, "Display &brightness slider for monitors"
51, "Sca&n for monitors"
52, "Internal monitor"
53, "B&rightness slider"
54, "Show &monitor model"
55, "Show &brightness in percents"
56, "Brightness"
57, "Adjust this monitor brightness by scrolling over tray icon"
58, "Re-apply brightness after monitor wakes up from standby"

60, "Battery saver"

69, "System style"
70, "Icons &style"
71, "Windows 7"
72, "Windows 8"
73, "Windows 10"
74, "Windows 8 Light"
75, "Windows 10 Light"
76, "Windows XP"
77, "Windows Vista"
78, "Windows 11"
79, "Windows 11 Light"

80, "Sc&heduler"
81, "Interface"
82, "Main window"
83, "Icons"

90, "The hotkey combination to change power scheme"
91, "Disabled"
92, "Hotkeys"
93, "Selected hotkey"

100, "Export settings to file"
101, "Import settings from file"

105, "%0:s Settings"
106, "Export %0:s Settings"
107, "Import %0:s Settings"

110, "Registration Files (*.reg)"
111, "Text Files (*.txt)"
112, "All Files"

120, "Icons &color"
121, "Based on power scheme"
122, "Based on battery charge"
123, "White"
124, "Based on power scheme (inverted)"
125, "Based on battery charge (inverted)"
126, "Based on charger"
127, "Based on charger or battery charge"

130, "Disable popup window's bo&rder"
131, "Use &crossed icon when the battery is missing"
132, "Display charge &percentage in tray"
133, "White icon for Balanced Power Scheme"
134, "Sh&ut down or sign out"
135, "Popup footer &link"
136, "Turn &off screen"
137, "Sh&ut down"
138, "&Restart"
139, "&Sleep"
140, "&Hibernate"
141, "S&ign out"
142, "&Lock"
143, "&Troubleshoot"
144, "&Battery status"
145, "&Disconnect"

150, "&Language"
151, "&Default"

160, "Maximum performance"
161, "Best performance"
162, "Better battery"

170, "Power scheme &sets to use"
171, "&Classic power schemes"
172, "&Windows 10 power modes"
173, "Power schemes"

180, "Display large Power Scheme Indicator in the middle of screen(s) when switching a Power Scheme"
181, "Use crossed Battery Icon when battery is removed from computer"
182, "Display current charge percentage instead of Battery Icon in system tray"
183, "Make window border thin and remove shadow"
184, "Display \"Classic\" Power Schemes (ex. \"Power saver\" and \"High performance\") in Power Scheme list, even when they are hidden by OS"
185, "Display balanced plan's Power Modes (which are controlled by slider in default Windows 10 Battery Popup) in Power Scheme list"
186, "Display vendor-specific, hidden Power Schemes in Power Scheme list"
187, "Configure global hotkey to switch through Power Schemes"
188, "Prevent internal screen brightness from being changed when you switch a Power Scheme or (dis)connect the charger"
189, "Automatically check for updates (once a day) and ask to update"
190, "Use white icon instead of yellow for Balanced Power Scheme"

210, "About"
211, "Author"
212, "Artem Tarasov"
213, "Battery Mode Website"
214, "Battery Mode Documentation"
215, "https://en.bmode.tarcode.ru/help"
216, "Feedback"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Contribute to Battery Mode"
219, "https://en.bmode.tarcode.ru/contribute"
220, "Scheduler Documentation"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "Release Notes"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "License"
225, "Source Code"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Advanced"
231, "Monitor detection delay"
232, "You can increase monitor detection delay if you experience issues with disappearing brightness indicators"
233, "seconds"

235, "Show brightness level in tray icon popup"

3000, "Battery Mode requires the \"Power\" service to be running"

10000, "Open debug log folder"
}