STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
900, "Оновлення програми"
901, "Доступна нова версія %0:s!"
902, "%0:s версії %1:s наразі є доступною для завантаження (ви маєте версію %2:s). Завантажити її зараз?"
903, "Нотатки щодо випуску:"
904, "Пропустити цю версію"
905, "Нагадати пізніше"
906, "Інсталювати оновлення"
907, "Доступних оновлень немає"
908, "%0:s %1:s є найновішою доступною версією."
909, "Закрити"
910, "Під час завантаження оновлень сталася помилка"
911, "Не вдалося ініціювати оновлення"
912, "Поточна версія"
}
