STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
1000, "Планувальник"
1001, "Застосувати"
1002, "Скасувати"
1003, "Додати правило"

1005, "Довідка планувальника (рос.)"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "Існують незбережені зміни. Зберегти?"

1020, "Увімкнути планувальник"

1030, "Коли %0:s"
1031, "та %0:s"
1032, "або %0:s"
1033, "то %0:s"
1034, "та %0:s"
1035, "Тригери ще не визначено"
1036, "до того ж %0:s"
1037, "та %0:s"
1038, "або %0:s"

1040, "Увімкнути"

1045, "Змінити"
1046, "Видалити"

1050, "Нове правило"

1060, "Угору"
1061, "Униз"

1070, "Властивості"
1071, "Застосувати"
1072, "Скасувати"

1075, "Правило змінено. Зберегти його зараз?"

1080, "Назва"
1081, "Не застосовувати інші правила"

1085, "Якщо"
1086, "виконуються всі ці умови"
1087, "виконуються будь-яка з цих умов"
1088, "До того ж"

1090, "Видалити"
1091, "невідома умова"
1092, "Очистити"

1095, "Додати тригер"
1096, "Виконати дії"
1097, "Додати умову"

1100, "показати повідомлення \"%0:s\""
1101, "Показати повідомлення"

1110, "встановити план живлення \"%0:s\""
1111, "Встановити план живлення"

1120, "Запустити програму"
1121, "запустити \"%0:s\""
1122, "запустити \"%0:s\" приховано"

1125, "Огляд"
1126, "Запустити приховано"

1130, "Відтворити звук"
1131, "відтворити звук \"%0:s\""
1132, "відтворити звук \"%0:s\" із гучністю %1:d%%"

1135, "Огляд"
1136, "Гучність"
1137, "Звукові файли"
1138, "Усі файли"

1140, "Електроживлення"
1141, "завершити роботу"
1142, "перезавантажити комп'ютер"
1143, "перейти до режиму сну"
1144, "перейти до режиму глибокого сну"
1145, "вимкнути екран"
1146, "увімкнути екран"

1151, "Завершити роботу"
1152, "Перезавантажити"
1153, "Сон"
1154, "Глибокий сон"
1155, "Вимкнути екран"
1156, "Увімкнути екран"

1200, "рівень заряду батареї %0:s %1:d%%"
1201, "рівень заряду батареї %0:s"
1202, "Рівень заряду батареї"

1205, "падає нижче за"
1206, "піднімається вище за"
1207, "змінюється"

1220, "зарядний пристрій %0:s"
1221, "Зарядний пристрій"

1225, "підключається"
1226, "відключається"
1227, "змінює стан"

1240, "кришка ноутбука %0:s"
1241, "Кришка ноутбука"

1245, "закрилася"
1246, "відкрилася"

1250, "комп'ютер переходить до режиму сну/глибокого сну"
1251, "Перехід до режиму сну/глибокого сну"

1255, "комп'ютер виходить із режиму сну/глибокого сну"
1256, "Вихід із режиму сну/глибокого сну"

1260, "екран %0:s"
1261, "Екран"

1265, "вимкнувся"
1266, "увімкнувся"
1267, "затемнився"

1280, "активовано план живлення \"%0:s\""
1281, "Обрано план живлення"

1290, "Battery Mode запускається"
1291, "Battery Mode щойно запущено"

1300, "рівень заряду батареї %0:s %1:d%%"
1301, "Рівень заряду батареї"

1305, "нижче за"
1306, "вище за"

1320, "зарядний пристрій %0:s"
1321, "Зарядний пристрій"

1325, "підключено"
1326, "відключено"

1340, "кришку ноутбука %0:s"
1341, "Кришку ноутбука"

1345, "закрито"
1346, "відкрито"

1360, "екран %0:s"
1361, "Екран"

1365, "вимкнено"
1366, "увімкнено"
1367, "затемнено"

1380, "поточний план живлення \"%0:s\""
1381, "Поточний план живлення"

1390, "поточний план живлення не \"%0:s\""
1391, "Поточний план живлення не"
}
