STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
0, "Українська"
1, "Battery Mode"
2, "Оберіть план живлення:"
3, "&Налаштування"
4, "Використовувати &одноколірні піктограми"
5, "Н&астроїти"
6, "&Автозавантаження"
7, "Фіксована &яскравість екрана"

9, "В&ихід"
10, "Версія"
11, "Відвідати веб-&сайт Battery Mode (рос.)"
12, "https://bmode.tarcode.ru"
13, "&Інформація про систему електроживлення"

15, "&Електроживлення"
16, "&Увімкнути або вимкнути системні піктограми"
17, "Центр &підтримки портативних ПК"

20, "&Відображати індикатор плану живлення"
21, "Прихова&но"
22, "На &основному моніторі"
23, "На &всіх моніторах"

26, "Приховані плани живлення"
27, "Прихований план"

30, "Увімкнути адаптивну яскравість"
31, "Вимкнути адаптивну яскравість"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Оновлення"
42, "Увімкнути &автоматичне оновлення"
43, "&Перевірити наявність оновлень"
44, "Доступна нова версія %0:s\nКлацніть тут, щоб отримати додаткові відомості"
45, "Оновлення виконано успішно\nНова версія %0:s"
46, "Не вдалося виконати оновлення\nКлацніть тут, щоб відвідати веб-сайт"

50, "Керування &яскравістю моніторів"
51, "Пошу&к моніторів"
52, "Вбудований екран"
53, "&Регулятор яскравості"
54, "Відображати &назви моніторів"
55, "Відображати &яскравість у відсотках"
56, "Яскравість моніторів"
57, "Змінювати яскравість цього монітора прокручуванням коліщатка миші над піктограмою в системному треї"
58, "Повторно застосовувати налаштування яскравості після виходу монітора з режиму очікування"

60, "Економія енергії"

70, "Стиль &піктограм"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 (світлий)"
75, "Windows &10 (світлий)"
76, "Windows &XP"
77, "Windows &Vista"

80, "П&ланувальник"
81, "Інтерфейс"
82, "Головне вікно"
83, "Піктограми"

90, "Сполучення клавіш для зміни плану живлення"
91, "Вимкнено"
92, "Сполучення клавіш"
93, "Поточне сполучення"

100, "Експорт налаштувань до файлу"
101, "Імпорт налаштувань із файлу"

105, "Налаштування %0:s"
106, "Експорт файлу налаштувань %0:s"
107, "Імпорт файлу налаштувань %0:s"

110, "Файли реєстрації записів (*.reg)"
111, "Текстові файли (*.txt)"
112, "Усі файли"

120, "Колір &піктограм"
121, "За &планом живлення"
122, "За &зарядом акумулятора"
123, "&Білий"
124, "За &планом живлення (перевернутий)"
125, "За &зарядом акумулятора (перевернутий)"

130, "Вікно без &рамки"
131, "&Перехрещена піктограма за відсутності акумулятора"
132, "Відображати відсоток &заряду в системному треї"
133, "Біла піктограма для збалансованої схеми живлення"

134, "&Завершити роботу або вийти"
135, "Пос&илання в нижній частині вікна"
136, "Вимкнути &екран"
137, "Завершити &роботу"
138, "Пере&завантажити"
139, "&Сон"
140, "Режим &глибокого сну"
141, "В&ийти"
142, "Б&локувати"
143, "&Виправлення неполадок"
144, "Стан &акумулятора"
145, "Відкл&ючитися"

150, "&Мова",
151, "&Системна"

160, "Висока продуктивність"
161, "Найкраща продуктивність"
162, "Удосконалена батарея"

170, "&Набори планів/режимів живлення для використання"
171, "&Класичні плани живлення"
172, "&Режими живлення Windows 10"
173, "Плани/режими живлення"

180, "Під час перемикання схем живлення відображати великий індикатор обраної схеми живлення\nу середині екрана"
181, "Використовувати перехрещену піктограму акумулятора, коли його видалено з комп'ютера"
182, "Відображати поточний відсоток заряду замість піктограми акумулятора в системному треї"
183, "Зробити рамку вікна тоненькою і видалити тінь"
184, "Відображати \"Класичні\" схеми живлення, такі як \"Економія енергії\" та \"Висока продуктивність\", у списку схем живлення, навіть коли їх приховано операційною системою"
185, "Відображати режими живлення збалансованого плану (якими керує повзунок у типовому спливаючому вікні акумулятора Windows 10) у списку схем живлення"
186, "Відображати \"приховані\" плани живлення конкретного виробника в списку планів/режимів живлення"
187, "Налаштування глобального сполучення клавіш для перемикання планів/режимів живлення"
188, "Запобігати зміні яскравості вбудованого екрана під час перемикання схем живлення або під'єднання чи від'єднання зарядного пристрою"
189, "Автоматично перевіряти наявність оновлень (один раз на день) та запитувати про оновлення"
190, "Використовувати білу піктограму замість жовтої для збалансованої схеми живлення"

210, "Про програму"
211, "Автор"
212, "Tarasov Artyom"
213, "Веб-сайт Battery Mode (рос.)"
214, "Довідка Battery Mode (рос.)"
215, "https://bmode.tarcode.ru/help"
216, "Зворотній зв'язок з автором (рос.)"
217, "https://bmode.tarcode.ru/feedback"
218, "Допомога розвитку Battery Mode (рос.)"
219, "https://bmode.tarcode.ru/contribute"
220, "Довідка планувальника (рос.)"
221, "https://bmode.tarcode.ru/scheduler-help"
222, "Історія змін (рос.)"
223, "https://bmode.tarcode.ru/releasenotes"
224, "Ліцензійна угода (рос.)"
225, "GitHub"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Додатково"
231, "Затримка перед виявленням моніторів"
232, "Ви можете збільшити затримку перед виявленням моніторів, якщо у вас виникають проблеми із зникаючими індикаторами яскравості"
233, "секунд"

235, "Відображати рівень яскравості у спливаючій підказці піктограми в системному треї"

10000, "Відкрити папку журналів налагодження"
}
