STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
700, "Н/Д"
701, "Невідомо"

704, "Система електроживлення"
705, "Властивості акумулятора"

710, "Ім'я пристрою"
711, "Виробник"
712, "Дата виготовлення"
713, "Серійний номер"
714, "Тип акумулятора"
715, "Циклів заряджання/розряджання"
716, "Рівень зношеності"
717, "Стан"
718, "Номінальна ємність"
719, "Ємність при повному заряді"
720, "Поточна ємність"
721, "Напруга акумулятора"
722, "Режим заряджання/розряджання"
723, "Режим заряджання"
724, "Режим розряджання"
725, "Сигнал тривоги 1"
726, "Сигнал тривоги 2"
727, "Температура"

740, "%0:s, що не перезаряджається"
741, "%0:s, що перезаряджається"
742, "Не перезаряджається"
743, "Перезаряджається"

745, "Живлення від електромережі"
746, "Заряджання"
747, "Повністю розряджено"
748, "Розряджання"

750, "&Вигляд"
751, "&Поверх усіх вікон"

755, "&Файл"
756, "З&акрити"
757, "&Зберегти"
758, "Зберегти &як..."
759, "Усі файли"
760, "Текстові файли"
761, "Файли журналів"

765, "Властивості електроживлення"

770, "Поточне джерело живлення"
771, "Стан акумулятора"
772, "Повний час роботи від акумулятора"
773, "Лишилося часу роботи"

775, "%0:u год %1:.2u хв"
776, "%1:u хв"

780, "Електромережа"
781, "ДБЖ"
782, "Акумулятор"

784, "Акумулятор відсутній"
785, "%0:d%% (Високий рівень, заряджання)"
786, "%0:d%% (Низький рівень, заряджання)"
787, "%0:d%% (Критичний рівень, заряджання)"
788, "%0:d%% (Заряджання)"
789, "%0:d%% (Високий рівень)"
790, "%0:d%% (Низький рівень)"
791, "%0:d%% (Критичний рівень)"
792, "%0:d%%"
793, "Високий рівень, змаряджання"
794, "Низький рівень, заряджання"
795, "Критический рівень, заряджання"
796, "Заряджання"
797, "Високий рівень"
798, "Низький рівень"
799, "Критичний рівень"
}
