STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
500, "Програму додано до автозавантаження без прав адміністратора."
501, "Програму додано до автозавантаження."
502, "Програму видалено з автозавантаження."
503, "Під час додавання програми до автозавантаження сталася помилка."
504, "Під час видалення програми з автозавантаження сталася помилка."
}
