STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
2000, "Застосувати"
2001, "Скасувати"
2002, "Перейменувати"

2100, "Назва монітора"
2101, "Нова назва для %0:s"
2102, "Повернути оригінальну назву"

2150, "Рівні"
2151, "Типово"

2155, "Критичний рівень від %0:d%% до"
2156, "Низький рівень від %0:d%% до"
2157, "Середній рівень від %0:d%% до"
2158, "Високий рівень від %0:d%% до %1:d%%"
}