STRINGTABLE
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
{
600, "Настільний комп'ютер"

621, "Підключено та заряжається"
622, "%0:u год %1:.2u хв до повного зарядження"
623, "%1:u хв до повного зарядження"
624, "%2:u%% доступно (підключено, заряджається)"
625, "%2:u%% доступно (підключено, не заряджається)"
626, "Повністю заряджено (100%%)"
627, "Жодного акумулятора не виявлено"
628, "Підключено та не заряджається"

650, "%0:u год %1:.2u хв (%2:u%%) залишилось"
651, "%1:u хв (%2:u%%) залишилось"
654, "Залишилось %2:u%%"
655, "Немає даних"

670, "Залишилось %2:u%%\nРекомендовано замінити акумулятор."
671, "Залишилось: немає даних\nРекомендовано замінити акумулятор."
672, "Підключено та заряджається\nРекомендовано замінити акумулятор."
673, "%2:u%% доступно (підключено, заряджається)\nРекомендовано замінити акумулятор."
674, "%2:u%% доступно (підключено, не заряджається)\nРекомендовано замінити акумулятор."
675, "Повністю заряджено (100%%)\nРекомендовано замінити акумулятор."

680, "Режим економії енергії ввімкнуто"
}
