IconList16 RCDATA "Icon\\IconList16.png"
IconList20 RCDATA "Icon\\IconList20.png"
IconList24 RCDATA "Icon\\IconList24.png"
IconList32 RCDATA "Icon\\IconList32.png"
ImageList32 RCDATA "Icon\\ImageList32.png"
ImageList44 RCDATA "Icon\\ImageList44.png"
BatterySplash RCDATA "Image\\BatterySplash.png"
RBright ICON "Icon\\BrightnessIcon.ico"
RBrightNotActive ICON "Icon\\BrightnessNotActiveIcon.ico"
RBrightEx ICON "Icon\\BrightnessExIcon.ico"
RBrightExNotActive ICON "Icon\\BrightnessExNotActiveIcon.ico"
RBrightAdaptive ICON "Icon\\BrightnessAdaptiveIcon.ico"
RBrightNotActiveAdaptive ICON "Icon\\BrightnessNotActiveAdaptiveIcon.ico"
Win10IconList16 RCDATA "Icon\\Win10IconList16.png"
Win10IconList20 RCDATA "Icon\\Win10IconList20.png"
Win10IconList24 RCDATA "Icon\\Win10IconList24.png"
Win10IconList32 RCDATA "Icon\\Win10IconList32.png"
Win10ImageList32 RCDATA "Icon\\Win10ImageList32.png"
Win10ImageList44 RCDATA "Icon\\Win10ImageList44.png"
Win7IconList16 RCDATA "Icon\\Win7IconList16.png"
Win7IconList20 RCDATA "Icon\\Win7IconList20.png"
Win7IconList24 RCDATA "Icon\\Win7IconList24.png"
Win7IconList32 RCDATA "Icon\\Win7IconList32.png"
Win7ImageList32 RCDATA "Icon\\Win7ImageList32.png"
Win7ImageList40 RCDATA "Icon\\Win7ImageList40.png"
IconList16Light RCDATA "Icon\\IconList16Light.png"
IconList20Light RCDATA "Icon\\IconList20Ligth.png"
IconList24Light RCDATA "Icon\\IconList24Light.png"
IconList32Light RCDATA "Icon\\IconList32Light.png"
ImageList32Light RCDATA "Icon\\ImageList32Light.png"
ImageList44Light RCDATA "Icon\\ImageList44Light.png"
Win10IconList16Light RCDATA "Icon\\Win10IconList16Light.png"
Win10IconList20Light RCDATA "Icon\\Win10IconList20Light.png"
Win10IconList24Light RCDATA "Icon\\Win10IconList24Light.png"
Win10IconList32Light RCDATA "Icon\\Win10IconList32Light.png"
Win10ImageList32Light RCDATA "Icon\\Win10ImageList32Light.png"
Win10ImageList44Light RCDATA "Icon\\Win10ImageList44Light.png"
WinVistaIconList16 RCDATA "Icon\\WinVistaIconList16.png"
WinVistaIconList20 RCDATA "Icon\\WinVistaIconList20.png"
WinVistaIconList24 RCDATA "Icon\\WinVistaIconList24.png"
WinVistaIconList32 RCDATA "Icon\\WinVistaIconList32.png"
WinXpIconList16 RCDATA "Icon\\WinXpIconList16.png"
WinXpIconList20 RCDATA "Icon\\WinXpIconList20.png"
WinXpIconList24 RCDATA "Icon\\WinXpIconList24.png"
WinXpIconList32 RCDATA "Icon\\WinXpIconList32.png"
WinXpImageList32 RCDATA "Icon\\WinXpImageList32.png"
WinXpImageList40 RCDATA "Icon\\WinXpImageList40.png"
WinXpImageList44 RCDATA "Icon\\WinXpImageList44.png"
LicenseFile1033 RCDATA "LICENSE.txt"
LicenseFile1049 RCDATA "Localization\\Russian\\License.txt"
Win11Icons16 RCDATA "Icon\\Win11Icons16.png"
Win11Icons20 RCDATA "Icon\\Win11Icons20.png"
Win11Icons24 RCDATA "Icon\\Win11Icons24.png"
Win11Icons32 RCDATA "Icon\\Win11Icons32.png"
Win11Images32 RCDATA "Icon\\Win11Images32.png"
Win11Images44 RCDATA "Icon\\Win11Images44.png"
Win11Images64 RCDATA "Icon\\Win11Images64.png"
Win11Icons16Light RCDATA "Icon\\Win11Icons16Light.png"
Win11Icons20Light RCDATA "Icon\\Win11Icons20Light.png"
Win11Icons24Light RCDATA "Icon\\Win11Icons24Light.png"
Win11Icons32Light RCDATA "Icon\\Win11Icons32Light.png"
Win11Images32Light RCDATA "Icon\\Win11Images32Light.png"
Win11Images44Light RCDATA "Icon\\Win11Images44Light.png"
Win11Images64Light RCDATA "Icon\\Win11Images64Light.png"
