STRINGTABLE
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN_DE
{
0, "German"
1, "Batteriemodus"
2, "Energieschema auswählen:"
3, "Ein&stellungen"
4, "&Monochrome Symbole verwenden"
5, "Konfigurieren"
6, "&Autostart mit Windows"
7, "Feste &Bildschirm-Helligkeit"

9, "Been&den"
10, "Version"
11, "Battery Mode &Website"
12, "https://de.bmode.tarcode.ru"
13, "&Informationen zum Energiesystem"

15, "E&nergieoptionen"
16, "Systemsymbol aktivi&eren oder deaktivieren"
17, "Windows-&Mobilitätscenter"

20, "Energieschema Anze&ige"
21, "&Nicht anzeigen"
22, "Auf dem &primären Monitor anzeigen"
23, "Auf &allen Monitoren anzeigen"
24, "Transparenz"

26, "&Versteckte Energieschemata"
27, "Versteckter Schema"

30, "Adaptive Helligkeit aktivieren"
31, "Adaptive Helligkeit deaktivieren"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Automatische &Updates"
42, "Aut&omatische Updates einschalten"
43, "Nach Updates such&en"
44, "Neue Version von %0:s ist verfügbar\nKlicken Sie hier für weitere Details"
45, "Update erfolgreich\nDie neue Version ist %0:s"
46, "Update fehlgeschlagen\nKlicken Sie hier, um die Website zu besuchen"

50, "&Helligkeitsregler für Monitore anzeigen“
51, "Nach Monitoren suchen"
52, "Interner Monitor"
53, "Schiebe&regler für Helligkeit"
54, "Monitormodell anzeigen"
55, "He&lligkeit in Prozent anzeigen"
56, "Helligkeit"
57, "Passen Sie die Helligkeit dieses Monitors an, indem Sie über das Taskleistensymbol scrollen"
58, "Helligkeit erneut anwenden, nachdem der Monitor aus dem Standbymodus aufwacht"

60, "Batteriesparmodus"

69, "Systemstil"
70, "Symbolstil"
71, "Windows 7"
72, "Windows 8"
73, "Windows 10"
74, "Windows 8 Light"
75, "Windows 10 Light"
76, "Windows XP"
77, "Windows Vista"
78, "Windows 11"
79, "Windows 11 Light"

80, "Planer"
81, "Schnittstelle"
82, "Hauptfenster"
83, "Symbole"

90, "Die Hotkey-Kombination zum Ändern des Energieschemas"
91, "Deakktiviert"
92, "Hotkeys"
93, "Ausgewählter Hotkey"

100, "Einstellungen in Datei exportieren"
101, "Einstellungen aus Datei importieren"

105, "%0:s Einstellungen"
106, "%0:s Einstellungen exportieren"
107, "%0:s Einstellungen importieren"

110, "Registrierungsdateien (*.reg)"
111, "Textdateien (*.txt)"
112, "Alle Dateien"

120, "Symbol-&Farbe"
121, "Basierend auf Energieschema"
122, "Basierend auf Batterieladung"
123, "Weiß"
124, "Basierend auf Energieschema (invertiert)"
125, "Basierend auf Batterieladung (invertiert)"
126, "Basierend auf Ladegerät"
127, "Basierend auf Ladegerät oder Batterieladung"

130, "&Rahmen des Popup-Fensters deaktivieren"
131, "Verwende dur&chgestrichenes Symbol, wenn die Batterie fehlt"
132, "Lade-&Prozentsatz in Systray anzeigen"
133, "Weißes Symbol für ausgeglichenes Energieschema"
134, "Her&unterfahren oder abmelden"
135, "Popup-Fußzeilen&link"
136, "Bildschirm &ausschalten"
137, "Her&unterfahren"
138, "Neu sta&rten"
139, "&Standby"
140, "Ru&hezustand"
141, "Abme&lden"
142, "Sperre&n"
143, "&Fehlersuche"
144, "&Batteriestatus"
145, "&Trennen"

150, "&Sprache"
151, "&Standard"

160, "Maximale Leistung"
161, "Beste Leistung"
162, "Bessere Batterie"

170, "Zu verwendende Energieschemasätze"
171, "&Klassische Energieschemata"
172, "&Windows 10 Energiemodi"
173, "Energieschemata"

180, "Große Energieschemaanzeige in der Mitte des Bildschirms anzeigen, wenn ein Energieschema gewechselt wird"
181, "Durchgestrichenes Batteriesymbol verwenden, wenn die Batterie aus dem Computer entfernt wurde"
182, "Zeige den aktuellen Ladeprozentsatz anstelle des Batteriesymbols in der Taskleiste an"
183, "Fensterrahmen dünn machen und Schatten entfernen"
184, "Zeige \"klassische\" Energieschemata (z. B. \"Energiesparmodus\" und \"Höchstleistung\") in der Energieschemaliste an, auch wenn sie vom Betriebssystem ausgeblendet werden"
185, "Energiemodi des ausgeglichenen Plans anzeigen (die durch den Schieberegler im standardmäßigen Windows 10-Batterie-Popup gesteuert werden) in der Energieschemaliste"
186, "Herstellerspezifische, versteckte Energieschemata in der Energieschemaliste anzeigen"
187, "Globalen Hotkey konfigurieren, um durch Energieschemata zu wechseln"
188, "Verhindern, dass die Helligkeit des internen Bildschirms geändert wird, wenn Sie ein Energieschema wechseln oder das Ladegerät verbinden/trennen"
189, "Automatisch nach Updates suchen (einmal täglich) und nach Aktualisierung fragen"
190, "Benutze weißes Symbol statt gelbes für ausgeglichenes Energieschema"

210, "Über"
211, "Autor"
212, "Artem Tarasov"
213, "Battery Mode Website"
214, "Battery Mode Dokumentation"
215, "https://en.bmode.tarcode.ru/help"
216, "Feedback"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Beitrag zu Battery Mode"
219, "https://de.bmode.tarcode.ru/contribute"
220, "Planer-Dokumentation"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "Versionshinweise"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "Lizenz"
225, "Quellcode"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Erweitert"
231, "Verzögerung der Monitorerkennung"
232, "Sie können die Monitorerkennungsverzögerung erhöhen, wenn Sie Probleme mit verschwindenden Helligkeitsanzeigen haben."
233, "Sekunden"

235, "Helligkeitsstufe im Taskleistensymbol-Popup anzeigen"

3000, "Für den Batteriemodus muss der \"Power\"-Dienst ausgeführt werden"

10000, "Debug-Protokollordner öffnen"
}
