STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT
{
300, "Tasto rapido"
301, "Applica"
302, "Annulla"

310, "Personalizzato"

320, "Abilita tasto rapido"

350, "Nessuna"

360, "Canc"
361, "Shift"
362, "Alt"
363, "Win"
364, "Esc"
365, "Tab"
366, "Backspace"
367, "Enter"
368, "Print Screen"
369, "Caps Lock"
370, "Scroll Lock"
371, "Pausa"
372, "Home"
373, "End"
374, "Del"
375, "Insert"
376, "Page Up"
377, "Page Down"
378, "Up"
379, "Right"
380, "Down"
381, "Left"
}