STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT
{
300, "Tasto rapido"
301, "Applica"
302, "Annulla"

310, "Personalizzato"

320, "Abilita tasto rapido"

350, "Nessuna"

360, "Ctrl"
361, "Maiusc"
362, "Alt"
363, "Win"
364, "Esc"
365, "Tab"
366, "Backspace"
367, "Invio"
368, "Stamp"
369, "Blocco Maiusc"
370, "Blocco Scorr"
371, "Pausa"
372, "Home"
373, "Fine"
374, "Canc"
375, "Ins"
376, "Pagina Su"
377, "Pagina Giù"
378, "Su"
379, "Destra"
380, "Giù"
381, "Sinistra"
}