STRINGTABLE
LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT
{
700, "N/D"
701, "Sconosciuto"

704, "Sistema alimentazione"
705, "Proprietà batteria"

710, "Nome dispositivo"
711, "Produttore"
712, "Data produzione"
713, "Numero di serie"
714, "Tipo batteria"
715, "Cicli carica/scarica"
716, "Livello di usura"
717, "Stato alimentazione"
718, "Capacità originale"
719, "Capacità completamente carica"
720, "Capacità attuale"
721, "Voltaggio batteria"
722, "Tasso carica/scarica"
723, "Tasso carica"
724, "Tasso scarica"
725, "Notifica avviso batteria 1"
726, "Notifica avviso batteria 2"
727, "Temperatura"

740, "%0:s non ricaricabile"
741, "Ricaricabile %0:s"
742, "Non ricaricabile"
743, "Ricaricabile"

745, "Linea AC"
746, "In carica"
747, "Completamente scarica"
748, "Scarica"

750, "&Visualizza"
751, "&Sempre in primo piano"

755, "&File"
756, "&Chiudi"
757, "&Salva"
758, "Salva con nome ..."
759, "Tutti i file"
760, "File testo"
761, "File registro"

765, "Proprietà risparmio energetico"

770, "Fonte alimentazione attuale"
771, "Stato batteria"
772, "Durata completa batteria"
773, "Durata residua batteria"

775, "%0:u ore %1:.2u min"
776, "%1:u min"

780, "Linea CA"
781, "UPS"
782, "Batteria"

784, "Nessuna batteria"
785, "%0:d%% (alto, in carica)"
786, "%0:d%% (basso, in carica)"
787, "%0:d%% (critico, in carica)"
788, "%0:d%% (in carica)"
789, "%0:d%% (alto)"
790, "%0:d%% (basso)"
791, "%0:d%% (critico)"
792, "%0:d%%"
793, "Alto, in carica"
794, "Basso, in carica"
795, "Critico, in carica"
796, "In carica"
797, "Alto"
798, "Basso"
799, "Critico"
}