STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
0, "Italiano"
1, "Modalità batteria"
2, "Seleziona combinazione risparmio energia:"
3, "&Impostazioni"
4, "Usa icone &monocromatiche"
5, "Configura"
6, "&Avvio automatico con Windows"
7, "Luminosità schermo fissa"

9, "E&sci"
10, "Versione"
11, "Sito &web BatteryMode"
12, "https://en.bmode.tarcode.ru"
13, "&Informazioni sul sistema di alimentazione"

15, "&Alimentazione"
16, "&Abilita/disabilita le icone di sistema"
17, "Windows e Mobility Center"

20, "&Indicatore schema alimentazione"
21, "&Non visualizzare"
22, "Visualizza sul monitor &principale"
23, "Visualizz&a su tutti i monitor"

26, "&Schemi di alimentazione nascosti"
27, "Schema nascosto"

30, "Attiva luminosità adattiva"
31, "Disattiva luminosità adattiva"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Aggiornamenti a&utomatici"
42, "Attiva aggi&ornamenti automatici"
43, "Controlla aggiornamenti"
44, "È disponibile una nuova versione di %0:s.\nFai clic qui per maggiori dettagli"
45, "Aggiornamento completato.\nLa nuova versione è %0:s"
46, "Aggiornamento fallito.\nFai clic qui per visitare il sito web"

50, "Visualizza controllo luminosità per i monitor"
51, "&Ricerca monitor"
52, "Monitor interno"
53, "Cont&rollo luminosità"
54, "Visualizza &modello monitor"
55, "Visualizza &luminosità in percentuale"
56, "Luminosità"
57, "Regola la luminosità del monitor scorrendo sull'icona della barra delle applicazioni"
58, "Riapplica la luminosità dopo che il monitor si riattiva dalla modalità standby"

60, "Risparmio energetico"

70, "Stile icone"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 Light"
75, "Windows &10 Light"
76, "Windows &XP"
77, "Windows &Vista"

80, "Pianifica&zione"
81, "Interfaccia"
82, "Finestra principale"
83, "Icone"

90, "La combinazione di tasti di scelta rapida per modificare la combinazione di risparmio energia"
91, "Disabilitato"
92, "Tasti di scelta rapida"
93, "Tasto di scelta rapida selezionato"

100, "Esporta impostazioni su file"
101, "Importa impostazioni da file"

105, "Impostazioni %0:s"
106, "Esporta impostazioni %0:s"
107, "Importa impostazioni %0:s"

110, "File registro (*.reg)"
111, "File di testo (*.txt)"
112, "Tutti i file"

120, "&Colore icone"
121, "Basato sullo &schema di alimentazione"
122, "Basato sulla carica della &batteria"
123, "B&ianco"
124, "Basato sullo schema di &alimentazione (invertito)"
125, "Basato sulla &carica della batteria (invertito)"

130, "Disabilita bo&rdo finestra popup"
131, "Usa icona crocetta q&uando la batteria non è inserita"
132, "Visualizzata carica in percentuale nell'icona nella barra"
133, "Icona bianca per schema alimentazione bilanciato"
134, "S&pegni o disconnetti"
135, "Co&llegamento piè di pagina popup"
136, "Spegni scherm&o"
137, "S&pegni"
138, "&Riavvia"
139, "&Sleep"
140, "&Iberna"
141, "S&collega"
142, "&Blocca"
143, "&Risoluzione problemi"
144, "Stato &batteria"
145, "&Disconnetti"

150, "&Lingua"
151, "Pre&definito"

160, "Massime prestazioni"
161, "Migliori prestazioni"
162, "Migliore per la batteria"

170, "&Set combinazioni risparmio energia da usare"
171, "Schemi di alimentazione &classici"
172, "Schemi di alimentazione di &Windows 10"
173, "Schemi di alimentazione"

180, "Quando cambi combinazione risparmio energia visualizza un grande indicatore combinazione risparmio energia al centro delle schermate"
181, "Usa l'icona della batteria con una croce quando la batteria viene rimossa dal computer"
182, "Visualizza nella barra delle applicazioni la percentuale di carica attuale invece dell'icona della batteria"
183, "Rendi sottile il bordo della finestra e rimuovi l'ombra"
184, "Visualizza nell'elenco combinazioni risparmio energia le combinazioni risparmio energia \"Classiche\" (es. \"Risparmio energetico\" e \"Prestazioni elevate\"), anche se nascoste dal sistema operativo"
185, "Visualizza le modalità di alimentazione del piano bilanciato (che sono controllate dal dispositivo di scorrimento nel popup batteria predefinito di Windows 10) nell'elenco degli schemi di alimentazione"
186, "Visualizza combinazioni di risparmio energia nascoste specifiche del fornitore nell'elenco delle combinazioni di risparmio energia"
187, "Configura tasto di scelta rapida globale per cambiare le combinazioni di risparmio energia"
188, "Impedisci la modifica della luminosità dello schermo interno quando cambi una combinazione di risparmio energia o scolleghi il caricabatterie"
189, "Controlla automaticamente gli aggiornamenti (una volta al giorno) e chiedi di aggiornare"
190, "Usa l'icona bianca anziché gialla per lo schema di alimentazione bilanciato"

210, "Informazioni sul programma"
211, "Autore"
212, "Artem Tarasov"
213, "Sito web battery Mode"
214, "Documentazione Battery Mode"
215, "https://en.bmode.tarcode.ru/help"
216, "Feedback"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Contribuisci a Battery Mode"
219, "https://en.bmode.tarcode.ru/contribute"
220, "Documentazione sulla pianificazione"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "Note sulla versione"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "Licenza"
225, "Codice sorgente"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Avanzate"
231, "Ritardo rilevamento monitor"
232, "Se si verificano problemi con la scomparsa degli indicatori di luminosità è possibile aumentare il ritardo di rilevamento del monitor"
233, "secondi"

235, "Visualizza livello di luminosità nel popup nell'icona di sistema"

10000, "Apri cartella registro debug"
}