STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
1000, "Планировщик"
1001, "Применить"
1002, "Отмена"
1003, "Добавить правило"

1005, "Справка по планировщику"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "Настройки изменены. Сохранить?"

1020, "Включить планировщик"

1030, "Если %0:s"
1031, "и %0:s"
1032, "или %0:s"
1033, "то %0:s"
1034, "и %0:s"
1035, "Триггеры отсутствуют"
1036, "при том, что %0:s"
1037, "и %0:s"
1038, "или %0:s"

1040, "Включить"

1045, "Изменить"
1046, "Удалить"

1050, "Новое правило"

1060, "Переместить выше"
1061, "Переместить ниже"

1070, "Свойства"
1071, "Применить"
1072, "Отмена"

1075, "Правило изменено. Сохранить?"

1080, "Название"
1081, "Не применять остальные правила"

1085, "Если"
1086, "выполняются все условия одновременно"
1087, "выполняется хотя бы одно из условий"
1088, "При том, что"

1090, "Удалить"
1091, "неизвестное условие"
1092, "Очистить"

1095, "Добавить триггер"
1096, "Выполнить действие"
1097, "Добавить условие"

1100, "показать сообщение \"%0:s\""
1101, "Показать сообщение"

1110, "включить схему электропитания \"%0:s\""
1111, "Включить схему электропитания"

1120, "Запустить программу"
1121, "запустить программу \"%0:s\""
1122, "запустить программу \"%0:s\" скрыто"

1125, "Открыть"
1126, "Запустить в скрытом состоянии"

1130, "Воспроизвести звук"
1131, "воспроизвести звук \"%0:s\""
1132, "воспроизвести звук \"%0:s\" с громкостью %1:d%%"

1135, "Открыть"
1136, "Громкость"
1137, "Звуковые файлы"
1138, "Все файлы"

1140, "Электропитание"
1141, "завершить работу"
1142, "перезагрузить компьютер"
1143, "перейти в спящий режим"
1144, "перейти в режим гибернация"
1145, "отключить экран"
1146, "включить экран"

1151, "Завершение работы"
1152, "Перезагрузка"
1153, "Спящий режим"
1154, "Гибернация"
1155, "Отключить экран"
1156, "Включить экран"

1200, "процент заряда батареи %0:s %1:d%%"
1201, "процент заряда батареи %0:s"
1202, "Процент заряда батареи"

1205, "опустился ниже"
1206, "поднялся выше"
1207, "изменился"

1220, "источник электропитания %0:s"
1221, "Источник электропитания"

1225, "подключился"
1226, "отключился"
1227, "изменил состояние"

1240, "крышка ноутбука %0:s"
1241, "Крышка ноутбука"

1245, "закрылась"
1246, "открылась"

1260, "экран %0:s"
1261, "Экран"

1265, "отключился"
1266, "включился"
1267, "уменьшил яркость"

1280, "активирована схема электропитания \"%0:s\""
1281, "Выбрана схема питания"

1300, "процент заряда батареи %0:s %1:d%%"
1301, "Процент заряда батареи"

1305, "ниже"
1306, "выше"

1320, "источник электропитания %0:s"
1321, "Источник электропитания"

1325, "подключен"
1326, "отключен"

1340, "крышка ноутбука %0:s"
1341, "Крышка ноутбука"

1345, "закрыта"
1346, "открыта"

1360, "экран %0:s"
1361, "Экран"

1365, "отключен"
1366, "включен"
1367, "уменьшил яркость"

1380, "схема электропитания \"%0:s\""
1381, "Текущая схема питания"

1390, "схема электропитания не \"%0:s\""
1391, "Текущая схема питания не"
}