STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
900, "Обновление"
901, "Доступна новая версия %0:s!"
902, "%0:s %1:s доступен для загрузки (ваша версия %2:s). Загрузить обновление сейчас?"
903, "Описание обновления:"
904, "Пропустить версию"
905, "Не сейчас"
906, "Установить"
907, "Обновления не найдены"
908, "Вы используете последнюю версию %0:s %1:s "
909, "Закрыть"
910, "Произошла ошибка при скачивании обновления"
911, "Не удалось запустить обновление программы"
912, "Текущая версия"
}