STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
2000, "Применить"
2001, "Отмена"
2002, "Переименовать"

2100, "Название монитора"
2101, "Новое название для %0:s"
2102, "Вернуть оригинальное название"

2150, "Уровни"
2151, "По умолчанию"

2155, "Критический уровень от %0:d%% до"
2156, "Низкий уровень от %0:d%% до"
2157, "Средний уровень от %0:d%% до"
2158, "Высокий уровень от %0:d%% до %1:d%%"
}