STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
300, "Горячая клавиша"
301, "Применить"
302, "Отмена"

310, "Выбрать"

320, "Включить"

350, "Нет"

360, "Ctrl"
361, "Shift"
362, "Alt"
363, "Win"
364, "Esc"
365, "Tab"
366, "Backspace"
367, "Enter"
368, "Print Screen"
369, "Caps Lock"
370, "Scroll Lock"
371, "Pause"
372, "Home"
373, "End"
374, "Del"
375, "Insert"
376, "Page Up"
377, "Page Down"
378, "Up"
379, "Right"
380, "Down"
381, "Left"
}