STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
0, "Русский"
1, "Battery Mode"
2, "Выберите схему электропитания:"
3, "&Настройки"
4, "Использовать &одноцветные значки"
5, "Н&астроить"
6, "&Автозапуск"
7, "Фиксированная &яркость экрана"

9, "В&ыход"
10, "Версия"
11, "Посетить &сайт Battery Mode"
12, "https://bmode.tarcode.ru"
13, "&Информация о системе электропитания"

15, "&Электропитание"
16, "&Включить или выключить системные значки"
17, "Центр &мобильности Windows"

20, "Отображать &индикатор схем электропитания"
21, "&Не отображать"
22, "На &основном мониторе"
23, "На &всех мониторах"
24, "Прозрачность"

26, "&Скрытые схемы электропитания"
27, "Скрытая схема"

30, "Включить адаптивную регулировку яркости"
31, "Выключить адаптивную регулировку яркости"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Обновление"
42, "&Автоматическая проверка обновлений"
43, "&Проверить на наличие обновлений"
44, "Доступна новая версия %0:s\nНажмите для получения подробностей"
45, "Обновление выполнено успешно\nНовая версия %0:s"
46, "Обновление не выполнено\nНажмите для перехода на сайт программы"

50, "Управлять &яркостью мониторов"
51, "Обновить &конфигурацию мониторов"
52, "Встроенный монитор"
53, "&Регулятор яркости"
54, "Показывает &названия мониторов"
55, "Показывает &яркость в процентах"
56, "Яркость мониторов"
57, "Прокрутка колеса мыши над значком в трее изменяет яркость этого монитора"
58, "Применять настройку яркости после выхода монитора из ждущего режима"

60, "Экономия заряда"

70, "&Стиль значков"
71, "Windows 7"
72, "Windows 8"
73, "Windows 10"
74, "Windows 8 светлый"
75, "Windows 10 светлый"
76, "Windows XP"
77, "Windows Vista"
78, "Windows 11"

80, "П&ланировщик"
81, "Интерфейс"
82, "Главное окно"
83, "Значки"

90, "Сочетание клавиш для переключения схемы питания"
91, "Отключено"
92, "Горячие клавиши"
93, "Текущее сочетание"

100, "Экспортировать настройки в файл"
101, "Импортировать настройки из файла"

105, "Настройки %0:s"
106, "Экспорт файла настроек %0:s"
107, "Импорт файла настроек %0:s"

110, "Файлы реестра (*.reg)"
111, "Текстовые файлы (*.txt)"
112, "Все файлы"

120, "&Цвет значков"
121, "Показывает &схему электропитания"
122, "Показывает &заряд батареи"
123, "Всегда &белый"
124, "Показывает схему &электропитания (инвертировано)"
125, "Показывает заряд ба&тареи (инвертировано)"

130, "Отключить &рамку окна"
131, "&Перечёркнутый значок отсутствующей батареи"
132, "Отображать проценты &заряда в трее"
133, "Белый значок для сбалансированной схемы электропитания"
134, "&Завершение работы или выход из системы"
135, "Сс&ылка в нижней части окна"
136, "От&ключить экран"
137, "Завершение &работы"
138, "Пере&загрузка"
139, "&Спящий режим"
140, "&Гибернация"
141, "В&ыход"
142, "Б&локировать"
143, "Особые &варианты загрузки"
144, "Информация о &батарее"
145, "&Отключиться"

150, "&Язык"
151, "Язык &системы"

160, "Лучшая производительность"
161, "Макс. производительность"
162, "Улучшенная батарея"

170, "Отображать &наборы схем электропитания"
171, "&Классические схемы электропитания"
172, "Режимы питания &Windows 10"
173, "Схемы электропитания"

180, "При переключении схем питания отображать крупный индикатор выбранной схемы питания по центру экрана(ов)"
181, "Перечеркивать значок батареи в случае, если она извлечена из компьютера"
182, "Отображать числовое представление текущего заряда основной батареи вместо значка программы в трее"
183, "Сделать рамку окна программы более узкой и убрать тень"
184, "Отображать в главном окне программы \"классические\" схемы питания, такие как \"Экономия энергии\" и \"Высокая производительность\", даже если эти схемы скрыты операционной системой"
185, "Отображать в главном окне программы режимы работы сбалансированной схемы питания, которые доступны путем перетаскивания регулятора в стандартном индикаторе батареи Windows 10"
186, "Отображать в главном окне программы \"скрытые\" схемы питания, предустановленные производителями ноутбуков"
187, "Позволяет настроить переключение схем питания по глобальному сочетанию клавиш"
188, "Предотвращать изменение ярокости экрана при смене схем питания, а также при подключении или отключении зарядного устройства"
189, "Автоматически проверять наличие новых версий программы на сайте (не чаще, чем один раз в сутки).\nРешение об установке обновления всегда принимается пользователем."
190, "Использовать белый значок для сбалансированной схемы электропитания, вместо жёлтого"

210, "О программе"
211, "Разработчик"
212, "Артём Тарасов"
213, "Сайт Battery Mode"
214, "Справка по Battery Mode"
215, "https://bmode.tarcode.ru/help"
216, "Написать разработчику"
217, "https://bmode.tarcode.ru/feedback"
218, "Помочь в развитии проекта Battery Mode"
219, "https://bmode.tarcode.ru/contribute"
220, "Справка по планировщику"
221, "https://bmode.tarcode.ru/scheduler-help"
222, "История изменений"
223, "https://bmode.tarcode.ru/releasenotes"
224, "Лицензионное соглашение"
225, "Исходный код"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Дополнительно"
231, "Задержка перед сканированием мониторов"
232, "Увеличьте задержку перед сканированием мониторов, если испытываете проблему с исчезающим регулятором яркости"
233, "секунд"

235, "Отображать уровень яркости во всплывающей подсказке значка в трее"

10000, "Открыть папку с логами"
}