STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
500, "Программа добавлена в автозапуск без привилегий администратора."
501, "Программа добавлена в автозапуск."
502, "Программа удалена из автозапуска."
503, "Ошибка добавления в автозапуск."
504, "Ошибка удаления из автозапуска."
}