STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
700, "N/A"
701, "Неизвестно"

704, "Система электропитания"
705, "Свойства батареи"

710, "Имя устройства"
711, "Производитель"
712, "Дата изготовления"
713, "Серийный номер"
714, "Тип батареи"
715, "Циклов заряда/разряда"
716, "Степень изношенности"
717, "Состояние"
718, "Паспортная ёмкость"
719, "Ёмкость при полной зарядке"
720, "Текущая ёмкость"
721, "Напряжение батареи"
722, "Скорость зарядки/разрядки"
723, "Скорость зарядки"
724, "Скорость разрядки"
725, "Сигнал тревоги 1"
726, "Сигнал тревоги 2"
727, "Температура"

740, "Неперезаряжаемая %0:s"
741, "Перезаряжаемая %0:s"
742, "Неперезаряжаемая"
743, "Перезаряжаемая"

745, "Электросеть"
746, "Зарядка"
747, "Полностью разряжена"
748, "Разрядка"

750, "&Вид"
751, "&Поверх всех окон"

755, "&Файл"
756, "&Закрыть"
757, "&Сохранить"
758, "Сохранить &как..."
759, "Все файлы"
760, "Текстовые файлы"
761, "Журнальные файлы"

765, "Свойства электропитания"

770, "Текущий источник питания"
771, "Состояние батарей"
772, "Полное время работы от батарей"
773, "Оставшееся время работы"

775, "%0:u ч. %1:.2u мин."
776, "%1:u мин."

780, "Электросеть"
781, "ИБП"
782, "Батарея"

784, "Батарея отсутствует"
785, "%0:d%% (Высокий, Зарядка)"
786, "%0:d%% (Низкий, Зарядка)"
787, "%0:d%% (Критический, Зарядка)"
788, "%0:d%% (Зарядка)"
789, "%0:d%% (Высокий)"
790, "%0:d%% (Низкий)"
791, "%0:d%% (Критический)"
792, "%0:d%%"
793, "Высокий, Зарядка"
794, "Низкий, Зарядка"
795, "Критический, Зарядка"
796, "Зарядка"
797, "Высокий"
798, "Низкий"
799, "Критический"
}