STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
2000, "Применить"
2001, "Отмена"
2002, "Переименовать"

2100, "Название монитора"
2101, "Новое название для %0:s"
2102, "Вернуть оригинальное название"
}