STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
{
600, "Настольный компьютер"

621, "Подключена и заряжается"
622, "%0:u ч. %1:.2u мин. до полной зарядки"
623, "%1:u мин. до полной зарядки"
624, "%2:u%% доступно (подключена, заряжается)"
625, "%2:u%% доступно (подключена, не заряжается)"
626, "Полностью заряжена (100%%)"
627, "Батарея не обнаружена"
628, "Подключена и не заряжается"

650, "Осталось %0:u ч. %1:.2u мин. (%2:u%%)"
651, "Осталось %1:u мин. (%2:u%%)"
654, "Осталось %2:u%%"
655, "Нет данных"

670, "Заряд: %2:u%%\nРекомендуется заменить батарею."
671, "Оставшийся заряд неизвестен\nРекомендуется заменить батарею."
672, "Подсоединено и заряжается\nРекомендуется заменить батарею."
673, "Заряд: %2:u%% (подсоединено и заряжается)\nРекомендуется заменить батарею."
674, "Заряд: %2:u%% (подсоединено, но не заряжается)\nРекомендуется заменить батарею."
675, "Заряжено полностью (100%%)\nРекомендуется заменить батарею."

680, "Функция экономии заряда включена"
}