STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
0, "한국어"
1, "Battery Mode"
2, "전원 관리 옵션 선택:"
3, "설정(&S)"
4, "단색 아이콘 사용(&M)"
5, "구성"
6, "Windows에서 자동 시작(&A)"
7, "화면 밝기 고정(&B)"

9, "종료(&X)"
10, "버전"
11, "Battery Mode 웹사이트(&W)"
12, "https://en.bmode.tarcode.ru"
13, "전원 공급 시스템에 대한 정보(&I)"

15, "전원 옵션(&P)"
16, "시스템 아이콘 사용 또는 사용 안 함(&E)"
17, "Windows 모바일 센터"

20, "전원 관리 옵션 및 표시기(&I)"
21, "표시 안함(&D)"
22, "기본 모니터에 표시(&P)"
23, "모든 모니터에 표시(&A)"
24, "투명도"

26, "숨겨진 전원 관리 옵션(&H)"
27, "숨겨진 관리 옵션"

30, "적응형 밝기 사용함"
31, "적응형 밝기 사용 안 함"

40, "https://bmode.tarcode.ru/update.uurl"
41, "자동 업데이트(&U)"
42, "자동 업데이트 켜기(&O)"
43, "업데이트 확인(&E)"
44, "%0:s의 새 버전을 사용할 수 있습니다\n자세한 내용을 보려면 여기를 클릭하십시오"
45, "업데이트 성공\n새 버전은 %0:s입니다"
46, "업데이트 실패\n웹 사이트를 방문하려면 여기를 클릭하십시오"

50, "모니터의 밝기 슬라이더 표시(&B)"
51, "모니터 검색(&N)"
52, "내부 모니터"
53, "밝기 슬라이더(&R)"
54, "모니터 모델 표시(&M)"
55, "백분율로 밝기 표시(&B)"
56, "밝기"
57, "트레이 아이콘 위로 스크롤하여 이 모니터 밝기 조정"
58, "모니터가 대기 모드에서 깨어난 후 밝기를 다시 적용"

60, "배터리 세이버"

69, "시스템 스타일"
70, "아이콘 스타일(&S)"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 라이트"
75, "Windows &10 라이트"
77, "Windows Vista"
78, "Windows 11"
79, "Windows 11 라이트"


80, "스케줄러(&H)"
81, "인터페이스"
82, "기본창"
83, "아이콘"

90, "전원 관리 옵션을 변경할 단축키 조합"
91, "사용 안 함"
92, "단축키"
93, "선택된 단축키"

100, "설정을 파일로 내보내기"
101, "파일에서 설정 가져오기"

105, "%0:s 설정"
106, "%0:s 설정 내보내기"
107, "%0:s 설정 가져오기"

110, "레지스트리 파일 (*.reg)"
111, "텍스트 파일 (*.txt)"
112, "모든 파일"

120, "아이콘 색상(&C)"
121, "전원 관리 옵션 기준(&S)"
122, "배터리 충전 기준(&B)"
123, "흰색(&W)"
124, "전원 관리 옵션 기준 (반전)(&P)"
125, "배터리 충전 기준 (반전)(&C)"
126, "충전기 기준"
127, "충전기 또는 배터리 충전량 기준"

130, "팝업 창 테두리 사용 안 함(&R)"
131, "배터리가 없을 때 교차 아이콘 사용(&C)"
132, "트레이에 충전 비율 표시(&P)"
133, "균형 조정 관리 옵션에 흰색 아이콘"
134, "시스템 종료 또는 로그 아웃(&U)"
135, "팝업 아래에 표시되는 바로가기(&L)"
136, "화면 끄기(&O)"
137, "시스템 종료(&U)"
138, "다시 시작(&U)"
139, "절전 모드(&S)"
140, "최대 절전 모드(&H)"
141, "로그 아웃(&I)"
142, "잠금(&L)"
143, "문제 해결(&T)"
144, "배터리 상태(&B)"
145, "분리(&D)"

150, "언어(&L)"
151, "기본값(&D)"

160, "최대 성능"
161, "최고 성능"
162, "배터리 성능 향상"

170, "사용할 전원 관리 옵션 설정(&S)"
171, "클래식 전원 관리 옵션(&C)"
172, "Windows 10 전원 모드(&W)"
173, "전원 관리 옵션"

180, "전원 관리 옵션을 전환할 때 화면 중앙에 큰 전원 관리 옵션 표시기 표시"
181, "컴퓨터에서 배터리를 제거할 때 교차 배터리 아이콘 사용"
182, "시스템 트레이에 배터리 아이콘 대신 현재 충전 비율 표시"
183, "창 테두리를 얇게 만들고 그림자 제거"
184, "OS에 의해 숨겨져 있는 경우에도 전원 관리 목록에 \"클래식\" 전원 관리 (예: \"절전\" 및 \"고성능\") 표시"
185, "전원 관리 옵션 목록에 균형 조정의 전원 모드 (기본 Windows 10 배터리 팝업의 슬라이더로 제어됨) 표시"
186, "전원 관리 옵션 목록에 공급 업체별 숨겨진 전원 구성표 표시"
187, "전원 관리 옵션을 통해 전환하도록 전역 단축키 구성"
188, "전원 관리 옵션을 전환하거나 충전기 연결을 분리할 때 내부 화면 밝기가 변경되지 않도록 방지"
189, "자동으로 업데이트 확인 (하루에 한 번) 및 업데이트 요청"
190, "균형 조정 옵션에 노란색 대신 흰색 아이콘 사용"

210, "정보"
211, "제작자"
212, "Artem Tarasov"
213, "Battery Mode 웹사이트"
214, "Battery Mode 문서"
215, "https://en.bmode.tarcode.ru/help"
216, "피드백"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Battery Mode에 기여"
219, "https://en.bmode.tarcode.ru/contribute"
220, "스케줄러 문서"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "릴리즈 노트"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "라이센스"
225, "소스 코드"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "고급"
231, "모니터 감지 지연"
232, "밝기 표시기가 사라지는 문제가 발생하면 모니터 감지 지연을 늘릴 수 있습니다"
233, "초"

235, "트레이 아이콘 팝업에 밝기 수준 표시"
	
10000, "디버그 로그 폴더 열기"
}
