STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
600, "데스크톱 컴퓨터"

621, "연결 및 충전"
622, "완전 충전까지 %0:u시간 %%1:.2u분"
623, "완전 충전까지 %1:u분 소요"
624, "%2:u%% 사용 가능 (연결됨, 충전 중)"
625, "%2:u%% 사용 가능 (연결됨, 충전 중 아님)"
626, "완전 충전됨 (100%%)"
627, "배터리가 감지되지 않음"
628, "연결되었지만 충전되지 않음"

650, "%0:u시간 %1:.2u분 (%2:u%%) 남음"
651, "%1:u분 (%2:u%%) 남음"
654, "%2:u%% 남음"
655, "알 수 없음"

670, "%2:u%% 남음 \n배터리 교체를 고려하십시오."
671, "알 수 없음\n배터리 교체를 고려하십시오."
672, "연결 및 충전 \n배터리 교체를 고려하세요."
673, "%2:u%% 사용 가능 (연결됨, 충전 중)\n 배터리 교체를 고려하십시오."
674, "%2:u%% 사용 가능 (전원에 연결되어 있고 충전 중이 아님)\n 배터리 교체를 고려하십시오."
675, "완전 충전 (100%%)\n배터리 교체를 고려하십시오."

680, "배터리 세이버 사용"
}
