STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
700, "해당 없음"
701, "알 수 없음"

704, "전원 시스템"
705, "배터리 속성"

710, "장치 이름"
711, "제조업체"
712, "제조일"
713, "일련 번호"
714, "배터리 유형"
715, "충전/방전주기"
716, "마모 레벨"
717, "전원 상태"
718, "설계된 용량"
719, "완전 충전된 용량"
720, "현재 용량"
721, "배터리 전압"
722, "충전/방전율"
723, "충전율"
724, "방전율"
725, "배터리 잔량 경고 1"
726, "배터리 잔량 경고 2"
727, "온도"

740, "재충전 불가능 %0:s"
741, "충전 가능 %0:s"
742, "재충전 불가"
743, "충전 가능"

745, "AC 라인"
746, "충전 중"
747, "완전 방전됨"
748, "방전"

750, "보기(&V)"
751, "항상 맨 위에(&A)"

755, "파일(&F)"
756, "닫기(&C)"
757, "저장(&S)"
758, "다른 이름으로 저장(&A)..."
759, "모든 파일"
760, "텍스트 파일"
761, "로그 파일"

765, "전원 관리 속성"

770, "현재 전원"
771, "배터리 상태"
772, "전체 배터리 수명"
773, "남은 배터리 수명"

775, "%0:u시간 %1:.2u분"
776, "%1:u분"

780, "AC 라인"
781, "UPS"
782, "배터리"

784, "배터리 없음"
785, "%0:d%% (높음, 충전 중)"
786, "%0:d%% (낮음, 충전 중)"
787, "%0:d%% (심각, 충전 중)"
788, "%0:d%% (충전 중)"
789, "%0:d%% (높음)"
790, "%0:d%% (낮음)"
791, "%0:d%% (심각)"
792, "%0:d%%"
793, "높음, 충전 중"
794, "낮음, 충전 중"
795, "중요, 충전 중"
796, "충전 중"
797, "높음"
798, "낮음"
799, "심각"
}
