STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
2000, "적용"
2001, "취소"
2002, "이름 바꾸기"

2100, "모니터 이름 바꾸기"
2101, "%0:s의 새 이름"
2102, "원래 이름으로 되돌리기"

2150, "수준"
2151, "기본값 사용"

2155, "위험 수준 %0:d%%부터"
2156, "낮은 수준 %0:d%%부터"
2157, "중간 수준 %0:d%%부터"
2158, "높은 수준 %0:d%%부터 %1:d%%"
}