STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
1000, "스케줄러"
1001, "적용"
1002, "취소"
1003, "규칙 추가"

1005, "스케줄러 도움말"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "저장하지 않은 변경 사항이 있습니다. 지금 저장하시겠습니까?"

1020, "스케줄러 사용"

1030, "%0:s일 때 "
1031, "및 %0:s"
1032, "또는 %0:s"
1033, "%0:s"
1034, "및 %0:s"
1035, "아직 정의된 트리거 없음"
1036, "%0:s중"
1037, "및 %0:s"
1038, "또는 %0:s"

1040, "사용함"

1045, "수정"
1046, "삭제"

1050, "새 규칙"

1060, "위로 이동"
1061, "아래로 이동"

1070, "속성"
1071, "적용"
1072, "취소"

1075, "규칙이 수정되었습니다. 지금 저장하시겠습니까?"

1080, "이름"
1081, "다른 규칙 적용 안 함"

1085, "만약"
1086, "조건이 모두 충족되면"
1087, "조건 중 하나라도 충족되면"
1088, "다음"

1090, "삭제"
1091, "알 수 없는 상태"
1092, "비우기"

1095, "트리거 추가"
1096, "작업 수행"
1097, "조건 추가"

1100, "메시지 표시 \"%0:s\""
1101, "메시지 표시"

1110, "전원 구성표 설정 \"%0:s\""
1111, "전원 구성표 설정"

1120, "프로그램 시작"
1121, "시작 \"%0:s\""
1122, "숨기고 시작 \"%0:s\""

1125, "찾아보기"
1126, "숨김 실행"

1130, "소리 재생"
1131, "소리 재생 \"%0:s\""
1132, " 소리 재생 %1:d%% 음량 \"%0:s\""

1135, "찾아보기"
1136, "음량"
1137, "오디오 파일"
1138, "모든 파일"

1140, "전원"
1141, "이 PC 종료"
1142, "Windows 다시 시작"
1143, "이 PC를 절전 모드로 전환"
1144, "이 PC를 최대 절전 모드로 전환"
1145, "화면 끄기"
1146, "화면 켜기"

1151, "종료"
1152, "다시 시작"
1153, "절전 모드"
1154, "최대 절전 모드"
1155, "화면 끄기"
1156, "화면 켜기"

1200, "배터리 충전 %0:s %1:d%%"
1201, "배터리 충전 %0:s"
1202, "배터리 충전"

1205, "이하"
1206, "이상"
1207, "변경"

1220, "충전기 %0:s"
1221, "충전기"

1225, "연결됨"
1226, "분리됨"
1227, "상태 변경"

1240, "노트북 덮개 %0:s"
1241, "노트북 덮개"

1245, "닫힘"
1246, "열림"

1260, "디스플레이 %0:s"
1261, "디스플레이"

1265, "꺼짐"
1266, "켜짐"
1267, "흐려짐"

1280, "전원 구성표 설정 \"%0:s\" 활성화"
1281, "전원 구성표 설정"

1300, "배터리 충전 %0:s %1:d%%"
1301, "배터리 충전"

1305, "이하"
1306, "이상"

1320, "충전기 %0:s"
1321, "충전기"

1325, "연결됨"
1326, "분리됨"

1340, "노트북 덮개 %0:s"
1341, "노트북 덮개"

1345, "닫힘"
1346, "열림"

1360, "디스플레이 %0:s"
1361, "디스플레이"

1365, "꺼짐"
1366, "켜짐"
1367, "흐려짐"

1380, "활성 전원 구성표 \"%0:s\""
1381, "활성 전원 구성표"

1390, "활성 전원 구성표 아님 \"%0:s\""
1391, "활성 전원 구성표 아님"
}
