STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
900, "소프트웨어 업데이트"
901, "%0:s의 새 버전을 사용할 수 있습니다!"
902, "%0:s%1:s을(를) 사용할 수 있습니다 (%2:s가 있습니다). 지금 다운로드하시겠습니까?"
903, "출시 노트:"
904, "이 버전 건너뛰기"
905, "나중에 알림"
906, "업데이트 설치"
907, "최신 상태입니다!"
908, "%0:s%1:s은(는) 현재 사용 가능한 최신 버전입니다."
909, "닫기"
910, "업데이트를 다운로드하는 동안 오류가 발생했습니다."
911, "업데이트를 초기화할 수 없습니다."
912, "현재 버전"
}
