STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
{
500, "관리자 권한없이 시작 프로그램에 프로그램이 추가되었습니다."
501, "프로그램이 시작 프로그램에 추가되었습니다."
502, "프로그램이 시작 프로그램에서 제거되었습니다."
503, "시작 프로그램에 프로그램을 추가할 때 오류가 발생했습니다."
504, "시작 프로그램에서 프로그램을 제거할 때 오류가 발생했습니다."
}
