STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
0, "简体中文"
1, "Battery Mode"
2, "选择电源模式:"
3, "设置(&S)"
4, "使用单色图标(&m)"
5, "配置"
6, "随 Windows 自动启动(&A)"
7, "固定屏幕亮度(&b)"

9, "退出(&x)"
10, "版本"
11, "Battery Mode 网站(&w)"
12, "https://en.bmode.tarcode.ru"
13, "供电模块信息(&I)"

15, "电源(&P)"
16, "启用或禁用系统图标(&E)"
17, "Windows 移动中心(&M)"

20, "电源模式指示器(&i)"
21, "不显示(&D)"
22, "仅在主显示器上显示(&p)"
23, "在所有显示器上显示(&a)"
24, "透明度"

26, "隐藏的电源模式(&H)"
27, "隐藏模式"

30, "开启自适应亮度"
31, "关闭自适应亮度"

40, "https://bmode.tarcode.ru/update.uurl"
41, "自动更新(&u)"
42, "打开自动更新(&o)"
43, "检查更新(&e)"
44, "新版本 %0:s 已发布\n点击此处了解更多"
45, "更新成功\n已更新至版本 %0:s"
46, "更新失败\n点击此处访问官方网站"

50, "显示器亮度调节滑杆(&b)"
51, "扫描显示器(&n)"
52, "内部显示器"
53, "亮度滑杆(&r)"
54, "显示显示器型号(&m)"
55, "显示亮度百分比(&b)"
56, "亮度"
57, "通过在托盘图标上滚动滚轮，调节显示器亮度"
58, "在显示器唤醒后自动重新应用亮度设置"

60, "省电模式"

70, "图标风格(&s)"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 Light"
75, "Windows &10 Light"
76, "Windows &XP"
77, "Windows &Vista"

80, "定时任务"
81, "接口"
82, "主窗口"
83, "图标"

90, "更改电源模式的快捷键组合"
91, "禁用"
92, "快捷键"
93, "已选快捷键"

100, "导出设置到文件"
101, "从文件导入设置"

105, "%0:s 设置"
106, "导出 %0:s 设置"
107, "导入 %0:s 设置"

110, "注册表文件 (*.reg)"
111, "文本文件 (*.txt)"
112, "所有文件"

120, "图标颜色(&c)"
121, "基于电源模式(&s)"
122, "基于电池电量(&b)"
123, "白色(&W)"
124, "基于电源模式(反色)(&p)"
125, "基于电池电量(反色)(&c)"

130, "弹出窗口不显示边框(&r)"
131, "在电池找不到时显示叉号(&c)"
132, "在托盘区显示电量百分比(&p)"
133, "对“平衡”电源模式显示白色图标"
134, "关机或注销(&u)"
135, "弹窗底部操作(&l)"
136, "关闭屏幕(&o)"
137, "关机(&u)"
138, "重新启动(&R)"
139, "睡眠(&S)"
140, "休眠(&H)"
141, "注销(&i)"
142, "锁定(&L)"
143, "故障排除(&T)"
144, "电池状态(&B)"
145, "断开(&D)"

150, "语言(&L)"
151, "默认(&D)"

160, "最佳性能"
161, "高性能"
162, "更长续航"

170, "使用的电源模式集合"
171, "经典电源模式(&C)"
172, "&Windows 10 电源模式"
173, "电源模式"

180, "切换电源模式时，在屏幕中央显示大图标"
181, "电池被移除时，在电池图标上显示叉号"
182, "在托盘区图标上显示电量百分比，而非电池图标"
183, "使用窄窗口边框并关闭阴影"
184, "在电源模式列表中显示 \"经典\" 电源模式 (例如 \"节能\" 和 \"高性能\") 即使这些模式已经被系统隐藏"
185, "在电源模式列表中显示 Windows 10 电池滑块控制的电源模式"
186, "在电源模式列表中显示来自设备供应商的隐藏电源模式"
187, "设置用于电源模式切换的全局快捷键"
188, "避免因切换电源模式和插入/拔出充电器引发的亮度改变"
189, "自动检查更新(每日一次)并在更新前询问"
190, "对平衡电源模式，使用白色图标而非黄色图标"

210, "关于"
211, "作者"
212, "Artem Tarasov"
213, "Battery Mode 网站"
214, "Battery Mode 文档"
215, "https://en.bmode.tarcode.ru/help"
216, "反馈"
217, "https://en.bmode.tarcode.ru/feedback"
218, "为 Battery Mode 做出贡献"
219, "https://en.bmode.tarcode.ru/contribute"
220, "定时任务功能文档"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "更新注记"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "许可证"
225, "源代码"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "高级"
231, "显示器探测延迟"
232, "如果出现显示器亮度滑块消失的情况，可以增加显示器探测延迟"
233, "秒"

235, "在托盘弹窗显示亮度百分比"

10000, "打开 debug 日志文件夹"
}