STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
600, "桌面电脑"

621, "已插入电源，充电中"
622, "充满还需要 %0:u 时 %%1:.2u 分"
623, "充满还需要 %1:u 分"
624, "可用 %2:u%% （已插入电源，充电中）"
625, "可用 %2:u%% （已插入电源，未在充电）"
626, "已充满 (100%%)"
627, "没有检测到电池"
628, "已插入电源，未在充电"

650, "剩余 %0:u 时 %1:.2u 分 (%2:u%%)"
651, "剩余 %1:u 分 (%2:u%%)"
654, "剩余 %2:u%%"
655, "剩余电量未知"

670, "剩余 %2:u%% \n应更换电池"
671, "剩余电量未知\n应更换电池"
672, "已插入电源，充电中\n应更换电池"
673, "可用 %2:u%% （已插入电源，充电中）\n应更换电池"
674, "可用 %2:u%% （已插入电源，未在充电）\n应更换电池"
675, "已充满 (100%%)\n应更换电池"

680, "节电模式已启用"
}