STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
1000, "定时任务"
1001, "应用"
1002, "取消"
1003, "添加规则"

1005, "定时任务帮助"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "有未保存的更改。现在保存？"

1020, "启用定时任务"

1030, "当 %0:s"
1031, "和 %0:s"
1032, "或 %0:s"
1033, "%0:s"
1034, "和 %0:s"
1035, "无可用触发器"
1036, "当 %0:s"
1037, "和 %0:s"
1038, "或 %0:s"

1040, "启用"

1045, "修改"
1046, "删除"

1050, "新规则"

1060, "上移"
1061, "下移"

1070, "属性"
1071, "应用"
1072, "取消"

1075, "规则已修改。现在保存？"

1080, "名称"
1081, "不应用其他规则"

1085, "如果"
1086, "以下全部条件满足"
1087, "以下任一条件满足"
1088, "当"

1090, "删除"
1091, "未知条件"
1092, "清除"

1095, "新增触发器"
1096, "执行操作"
1097, "新增条件"

1100, "展示消息 \"%0:s\""
1101, "展示消息"

1110, "设定电源模式 \"%0:s\""
1111, "设定电源模式"

1120, "启动程序"
1121, "启动 \"%0:s\""
1122, "启动 \"%0:s\" 并隐藏"

1125, "浏览"
1126, "隐藏运行"

1130, "播放音频"
1131, "播放音频 \"%0:s\""
1132, "以 %1:d%% 音量播放音频 \"%0:s\""

1135, "浏览"
1136, "音量"
1137, "音频文件"
1138, "所有文件"

1140, "电源操作"
1141, "关机"
1142, "重新启动"
1143, "睡眠"
1144, "休眠"
1145, "关闭屏幕"
1146, "打开屏幕"

1151, "关机"
1152, "重新启动"
1153, "睡眠"
1154, "休眠"
1155, "关闭屏幕"
1156, "打开屏幕"

1200, "电量百分比 %0:s %1:d%%"
1201, "电量百分比 %0:s"
1202, "电量百分比"

1205, "低于"
1206, "高于"
1207, "改变"

1220, "充电器 %0:s"
1221, "充电器"

1225, "连接"
1226, "断开"
1227, "状态改变"

1240, "笔记本盖 %0:s"
1241, "笔记本盖"

1245, "合上"
1246, "打开"

1250, "计算机进入睡眠/休眠"
1251, "睡眠/休眠"

1255, "计算机从睡眠/休眠中恢复"
1256, "从睡眠/休眠中恢复"

1260, "显示器 %0:s"
1261, "显示器"

1265, "关闭"
1266, "打开"
1267, "调暗"

1280, "电源模式 \"%0:s\" 被设为活动"
1281, "电源模式被设为"

1290, "Battery Mode 启动"
1291, "Battery Mode 刚刚启动"

1300, "电量百分比 %0:s %1:d%%"
1301, "电量百分比"

1305, "高于"
1306, "低于"

1320, "充电器 %0:s"
1321, "充电器"

1325, "已连接"
1326, "已断开"

1340, "笔记本盖 %0:s"
1341, "笔记本盖"

1345, "已合上"
1346, "已打开"

1360, "显示器 %0:s"
1361, "显示器"

1365, "已关闭"
1366, "已打开"
1367, "已调暗"

1380, "活动电源模式 \"%0:s\""
1381, "活动电源模式"

1390, "活动电源模式 not \"%0:s\""
1391, "活动电源模式 not"
}