STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
900, "软件更新"
901, "新版本 %0:s 现已发布！"
902, "新版本 %0:s %1:s 现已发布 (当前版本 %2:s). 你希望现在下载新版本吗？"
903, "更新注记："
904, "跳过这个版本"
905, "稍后提醒"
906, "安装更新"
907, "已经是最新版本！"
908, "版本 %0:s %1:s 已经是当前可用的最新版本"
909, "关闭"
910, "下载更新时出现错误"
911, "无法初始化更新"
912, "当前版本"
}
