STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
{
700, "不适用"
701, "未知"

704, "供电模块"
705, "电池属性"

710, "设备名"
711, "制造商"
712, "生产日期"
713, "序列号"
714, "电池类型"
715, "充放循环数"
716, "损耗程度"
717, "电源状态"
718, "设计容量"
719, "完全充满容量"
720, "当前容量"
721, "电池电压"
722, "充放电率"
723, "充电率"
724, "放电率"
725, "电池警告 1"
726, "电池警告 2"
727, "温度"

740, "不可充电 %0:s"
741, "可充电 %0:s"
742, "不可充电"
743, "可充电"

745, "交流电源"
746, "充电中"
747, "已完全放电"
748, "放电中"

750, "显示（&V）"
751, "置顶（&A）"

755, "文件（&F）"
756, "关闭（&C）"
757, "保存（&S）"
758, "另存为（&A）..."
759, "所有文件"
760, "文本文件"
761, "日志文件"

765, "电源管理属性"

770, "当前供电源"
771, "电池状态"
772, "充满后可用电池寿命"
773, "当前电池寿命"

775, "%0:u 时 %1:.2u 分"
776, "%1:u 分"

780, "交流电源"
781, "不间断电源"
782, "电池"

784, "无电池"
785, "%0:d%% (高电量，充电中)"
786, "%0:d%% (低电量，充电中)"
787, "%0:d%% (电量严重短缺，充电中)"
788, "%0:d%% (充电中)"
789, "%0:d%% (高电量)"
790, "%0:d%% (低电量)"
791, "%0:d%% (电量严重短缺)"
792, "%0:d%%"
793, "高电量, 充电中"
794, "低电量, 充电中"
795, "电量严重短缺, 充电中"
796, "充电中"
797, "高电量"
798, "低电量"
799, "电量严重短缺"
}