STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
{
700, "N/A"
701, "不明"

704, "電源システム"
705, "バッテリーのプロパティ"

710, "デバイス名"
711, "製造者"
712, "製造日"
713, "シリアル番号"
714, "バッテリーのタイプ"
715, "充放電サイクル数"
716, "劣化レベル"
717, "電源状態"
718, "設計容量"
719, "満充電容量"
720, "現在の容量"
721, "バッテリー電圧"
722, "充放電率"
723, "充電率"
724, "放電率"
725, "残容量警告1"
726, "残容量警告2"
727, "温度"

740, "充電不可 %0:s"
741, "再充電可能 %0:s"
742, "充電不可"
743, "再充電可能"

745, "AC電源"
746, "充電中"
747, "完全放電"
748, "放電中"

750, "表示(&V)"
751, "常に手前に表示(&A)"

755, "ファイル(&F)"
756, "閉じる(&C)"
757, "保存(&S)"
758, "名前をつけて保存(&A)"
759, "すべてのファイル"
760, "テキストファイル"
761, "ログファイル"

765, "電源管理のプロパティ"

770, "現在の電源"
771, "バッテリー状態"
772, "設計時のバッテリー寿命"
773, "バッテリー寿命"

775, "%0:u 時間 %1:.2u 分"
776, "%1:u 分"

780, "AC電源"
781, "UPS"
782, "バッテリー"

784, "バッテリー無し"
785, "%0:d%% (High, 充電中)"
786, "%0:d%% (Low, 充電中)"
787, "%0:d%% (バッテリー切れ, 充電中)"
788, "%0:d%% (充電中)"
789, "%0:d%% (High)"
790, "%0:d%% (Low)"
791, "%0:d%% (バッテリー切れ)"
792, "%0:d%%"
793, "High, 充電中"
794, "Low, 充電中"
795, "バッテリー切れ, 充電中"
796, "充電中"
797, "High"
798, "Low"
799, "バッテリー切れ"
}
