STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
{
0, "日本語(&J)"
1, "Battery Mode"
2, "電源プラン:"
3, "高度な設定(&S)"
4, "モノクロのアイコンを使用(&M)"
5, "ホットキー設定(&S)"
6, "Windows起動時に自動で起動する(&A)"
7, "画面の明るさを固定(&B)"

9, "終了(&X)"
10, "バージョン"
11, "Battery Mode webサイト(&W)"
12, "https://en.bmode.tarcode.ru"
13, "電源供給システムの情報(&I)"

15, "電源オプションを開く(&P)"
16, "システムアイコンのオン/オフ(&E)"
17, "Windowsモビリティセンター(&M)"

20, "電源プランのインジケーター表示(&I)"
21, "表示しない(&D)"
22, "プライマリモニターのみ(&P)"
23, "すべてのモニター(&A)"

26, "非表示の電源プランを表示"
27, "プランを非表示"

30, "明るさの自動設定を有効化"
31, "明るさの自動設定を無効化"

40, "https://bmode.tarcode.ru/update.uurl"
41, "自動アップデート(&U)"
42, "自動アップデートを有効化(&O)"
43, "アップデートを確認(&E)"
44, "新しいバージョン %0:s が利用可能です\nクリックすると詳細を表示します"
45, "アップデート成功\n新しいバージョンは %0:s です"
46, "アップデート失敗\nクリックするとwebサイトが開きます"

50, "明るさスライダーを表示するモニター(&B)"
51, "モニターをスキャン(&N)"
52, "内部モニター"
53, "明るさスライダー(&R)"
54, "モニターのモデル名を表示(&M)"
55, "明るさを%で表示(&B)"
56, "明るさ"
57, "タスクトレイアイコン上でスクロールして、このモニターの明るさを調整する"
58, "モニターがスタンバイ状態から復帰したら再度明るさを適用する"

60, "バッテリーセーバー"

70, "アイコンスタイル(&A)"
71, "Windows 7"
72, "Windows 8"
73, "Windows 10"
74, "Windows 8 Light"
75, "Windows 10 Light"
76, "Windows XP"
77, "Windows Vista"
78, "Windows 11"

80, "スケジューラ(&H)"
81, "インターフェース"
82, "メインウィンドウ"
83, "アイコン"

90, "電源プランを変更するホットキーの組み合わせ"
91, "無効"
92, "ホットキー"
93, "選択したホットキー"

100, "設定をエクスポートする"
101, "設定をインポートする"

105, "%0:s 設定"
106, "%0:s 設定をエクスポート"
107, "%0:s 設定をインポート"

110, "レジストリファイル (*.reg)"
111, "テキストファイル (*.txt)"
112, "すべてのファイル"

120, "アイコンの色(&C)"
121, "電源プランの色(&S)"
122, "バッテリー残量の色(&B)"
123, "白(&W)"
124, "電源プランの色(反転)(&P)"
125, "バッテリー残量の色(&C)"

130, "ポップアップウインドウの枠を無効化(&R)"
131, "バッテリーが見つからない時はバツ印をアイコンに使用(&C)"
132, "トレイアイコンにバッテリー残量をパーセンテージで表示(&P)"
133, "バランステーマに白いアイコンを使う"
134, "シャットダウン、またはサインアウト(&U)"
135, "ポップアップの下に表示するショートカット(&L)"
136, "画面の電源を切る(&O)"
137, "シャットダウン(&U)"
138, "再起動(&R)"
139, "スリープ(&S)"
140, "休止状態(&H)"
141, "サインアウト(&I)"
142, "ロック(&L)"
143, "トラブルシューティング(&T)"
144, "バッテリー状態(&B)"
145, "切断(&D)"

150, "言語(&L)"
151, "デフォルト(&D)"

160, "最大パフォーマンス"
161, "パフォーマンス優先"
162, "バッテリー優先"

170, "使用する電源プランの設定(&S)"
171, "従来の電源プラン(&C)"
172, "Windows 10の電源プラン(&W)"
173, "電源プラン"

180, "電源プランの切り替え時、画面の中央に電源プランの大きなアイコンを表示する"
181, "バッテリーが取り外された時、バッテリーアイコンにバツ印を表示する"
182, "システムトレイにバッテリーアイコンの代わりに現在のバッテリー残量を表示する"
183, "ウィンドウの枠を細くして境界の影を取り除く"
184, "OSによって隠されている場合でも、\"従来の電源プラン\" をリストに表示します。(例: \"省電力\" と \"高パフォーマンス\")"
185, "バランスの取れたプランの電源モード (デフォルトのWindows 10バッテリーポップアップのスライダーによって制御されます) を電源プランのリストに表示する"
186, "電源プランのリストにベンダー固有の非表示な電源プランを表示する"
187, "電源プランを切り替えるためのグローバルホットキーを設定"
188, "電源設定を切り替えた時、または充電器を接続/切断した時に画面の明るさが変更されないようにする"
189, "更新を(1日1回)自動的に確認し、更新があった場合はメッセージを表示"
190, "バランスプランのアイコンに黄色の代わりに白を使う"

210, "このアプリについて"
211, "作者"
212, "Artem Tarasov"
213, "Battery Mode のホームページ"
214, "コマンドライン引数に関するヘルプ"
215, "https://en.bmode.tarcode.ru/help"
216, "フィードバック"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Battery Modeに貢献する"
219, "https://en.bmode.tarcode.ru/contribute"
220, "スケジューラに関するヘルプ"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "リリースノート"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "ライセンス"
225, "GitHub"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "高度"
231, "モニター検出遅延"
232, "明るさ調節の表示に問題がある場合モニターの検出を遅らせると解決する場合があります"
233, "秒"

235, "トレイアイコンのポップアップに明るさを表示する"
10000, "Debugログフォルダを開く"
}
