STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
{
1000, "スケジューラー"
1001, "適用"
1002, "キャンセル"
1003, "ルールを追加"

1005, "スケジューラーのヘルプ"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "保存していない変更があります。保存しますか？"

1020, "スケジューラーを有効化"

1030, "When %0:s"
1031, "and %0:s"
1032, "or %0:s"
1033, "%0:s"
1034, "and %0:s"
1035, "トリガーが定義されていません"
1036, "while %0:s"
1037, "and %0:s"
1038, "or %0:s"

1040, "有効化"

1045, "編集"
1046, "削除"

1050, "新しいルール"

1060, "上に移動"
1061, "下に移動"

1070, "プロパティ"
1071, "適用"
1072, "キャンセル"

1075, "ルールが変更されています。保存しますか？"

1080, "名前"
1081, "他のルールを適用しない"

1085, "If"
1086, "すべての状態が合っていたら"
1087, "どれか一つでも合っていたら"
1088, "While"

1090, "削除"
1091, "不明な状態"
1092, "クリア"

1095, "トリガーを追加"
1096, "アクションを行う"
1097, "状態を追加"

1100, "メッセージを出す \"%0:s\""
1101, "メッセージを出す"

1110, "電源プランを設定する \"%0:s\""
1111, "電源プランを設定する"

1120, "プログラムを起動する"
1121, "起動 \"%0:s\""
1122, "隠して起動 \"%0:s\""

1125, "参照"
1126, "隠して起動する"

1130, "音を鳴らす"
1131, "音を鳴らす \"%0:s\""
1132, "音を鳴らす \"%0:s\" 音量 %1:d%%"

1135, "参照"
1136, "音を鳴らす"
1137, "音楽ファイル"
1138, "すべてのファイル"

1140, "電源"
1141, "シャットダウンする"
1142, "再起動する"
1143, "スリープする"
1144, "休止状態にする"
1145, "画面をオフにする"
1146, "画面をオンにする"

1151, "シャットダウン"
1152, "再起動"
1153, "スリープ"
1154, "休止状態"
1155, "画面オフ"
1156, "画面オン"

1200, "バッテリーの充電 %0:s %1:d%%"
1201, "バッテリーの充電 %0:s"
1202, "バッテリーの充電"

1205, "下回ったら"
1206, "上回ったら"
1207, "変化したら"

1220, "充電器 %0:s"
1221, "充電器"

1225, "接続されたら"
1226, "切断されたら"
1227, "充電状態"

1240, "ノートPCの画面 %0:s"
1241, "ノートPCの画面"

1245, "閉じたら"
1246, "開いたら"

1260, "画面 %0:s"
1261, "画面"

1265, "オフになったら"
1266, "オンになったら"
1267, "暗くなったら"

1280, "有効な電源プランは\"%0:s\""
1281, "有効な電源プランは"

1300, "バッテリーの充電 %0:s %1:d%%"
1301, "バッテリーの充電"

1305, "より下"
1306, "より上"

1320, "充電器 %0:s"
1321, "充電器"

1325, "接続"
1326, "切断"

1340, "ノートPCの画面 %0:s"
1341, "ノートPCの画面"

1345, "閉じていたら"
1346, "開いていたら"

1360, "画面 %0:s"
1361, "画面"

1365, "オフ"
1366, "オン"
1367, "暗くなる"

1380, "有効な電源プランは\"%0:s\""
1381, "有効な電源プラン"

1390, "有効な電源プランは\"%0:s\"ではない"
1391, "有効な電源プランではない"
}
