STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
2000, "適用"
2001, "キャンセル"
2002, "名前の変更"

2100, "モニター名の変更"
2101, "%0:s の新しい名前"
2102, "元の名前に戻す"

2150, "レベル"
2151, "デフォルトを利用"

2155, "警告を %0:d%% から"
2156, "低を %0:d%% から"
2157, "中を %0:d%% から"
2158, "高を %0:d%% から %1:d%%"
}