STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
{
900, "アップデート"
901, "新しいバージョンの %0:s が利用可能です。"
902, "%0:s %1:s が利用可能です (現在 %2:s). 今すぐダウンロードしますか？"
903, "リリースノート:"
904, "このバージョンをスキップする"
905, "あとで通知する"
906, "アップデートをインストールする"
907, "最新版です"
908, "%0:s %1:s が現在利用可能な最新版です。"
909, "閉じる"
910, "アップデートのダウンロード中にエラーが発生しました"
911, "アップデートの初期化に失敗しました"
912, "現在のバージョン"
}
