STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
{
600, "デスクトップPC"

621, "接続され、充電中"
622, "フル充電まで%0:u時間%%1:.2u分"
623, "フル充電まで%1:u分"
624, "残量 %2:u%% (接続され、充電中)"
625, "残量 %2:u%% (接続され、充電していない)"
626, "充電済み (100%%)"
627, "バッテリー未検出"
628, "接続され、充電していない"

650, "残り時間 %0:u時間%1:.2u分 (%2:u%%)"
651, "残り時間 %1:u分 (%2:u%%)"
654, "残量 %2:u%%"
655, "残り時間不明"

670, "残り時間 %2:u%%\nバッテリーの交換を検討してください。"
671, "残り時間不明\nバッテリーの交換を検討してください。"
672, "接続され、充電中\nバッテリーの交換を検討してください。"
673, "残量 %2:u%% (接続され、充電中)\nバッテリーの交換を検討してください。"
674, "残量 %2:u%% (接続され、充電していない)\nバッテリーの交換を検討してください。"
675, "完全充電 (100%%)\nバッテリーの交換を検討してください。"

680, "バッテリーセーバー有効"
}
