STRINGTABLE
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
{
1000, "Agendador"
1001, "Aplicar"
1002, "Cancelar"
1003, "Adicionar regra"

1005, "Ajuda do agendador"
1006, "https://bmode.tarcode.ru/scheduler-help"

1010, "Você possui alterações não salvas. Salvá-las agora?"

1020, "Ativar agendador"

1030, "Quando %0:s"
1031, "e %0:s"
1032, "ou %0:s"
1033, "%0:s"
1034, "e %0:s"
1035, "Nenhum disparador definido ainda"
1036, "enquanto %0:s"
1037, "e %0:s"
1038, "ou %0:s"

1040, "Ativar"

1045, "Modificar"
1046, "Excluir"

1050, "Nova regra"

1060, "Mover para cima"
1061, "Mover para baixo"

1070, "Propriedades"
1071, "Aplicar"
1072, "Cancelar"

1075, "A regra foi modificada. Salvá-la agora?"

1080, "Nome"
1081, "Não aplicar outras regras"

1085, "Se"
1086, "todas as seguintes condições forem atendidas"
1087, "qualquer uma das seguintes condições for atendida"
1088, "Enquanto"

1090, "Excluir"
1091, "Condição desconhecida"
1092, "Limpar"

1095, "Adicionar disparador"
1096, "Executar ações"
1097, "Adicionar condição"

1100, "exibir mensagem \"%0:s\""
1101, "Exibir mensagem"

1110, "definir esquema de energia \"%0:s\""
1111, "Definir esquema de energia"

1120, "Iniciar programa"
1121, "iniciar \"%0:s\""
1122, "iniciar \"%0:s\" oculto"

1125, "Procurar"
1126, "Executar oculto"

1130, "Reproduzir som"
1131, "reproduzir som \"%0:s\""
1132, "reproduzir som \"%0:s\" com volume %1:d%%"

1135, "Procurar"
1136, "Volume"
1137, "Arquivos de áudio"
1138, "Todos os arquivos"

1140, "Energia"
1141, "desliga este PC"
1142, "reinicia o Windows"
1143, "coloca este PC no modo de suspensão"
1144, "hiberna este PC"
1145, "desliga a tela"
1146, "liga a tela"

1151, "Desligar"
1152, "Reiniciar"
1153, "Suspender"
1154, "Hibernar"
1155, "Desligar tela"
1156, "Ligar tela"

1200, "carga da bateria %0:s %1:d%%"
1201, "carga da bateria %0:s"
1202, "Carga da bateria"

1205, "cair abaixo de"
1206, "subir acima de"
1207, "alterar"

1220, "carregador %0:s"
1221, "Carregador"

1225, "for conectado"
1226, "for desconectado"
1227, "alterar o estado"

1240, "tampa do notebook %0:s"
1241, "Tampa do notebook"

1245, "for fechada"
1246, "for aberta"

1260, "exibir %0:s"
1261, "Exibição"

1265, "desligar"
1266, "ligar"
1267, "ficar escurecida"

1280, "esquema de energia \"%0:s\" ficar ativo"
1281, "Esquema de energia está definido para"

1300, "carga da bateria %0:s %1:d%%"
1301, "Carga da bateria"

1305, "está abaixo de"
1306, "está acima de"

1320, "carregador %0:s"
1321, "Carregador"

1325, "está conectado"
1326, "está desconectado"

1340, "tampa do notebook %0:s"
1341, "Tampa do notebook"

1345, "está fechada"
1346, "está aberta"

1360, "exibir %0:s"
1361, "Exibição"

1365, "está desligada"
1366, "está ligada"
1367, "está escurecida"

1380, "esquema de energia ativo é \"%0:s\""
1381, "Esquema de energia ativo é"

1390, "esquema de energia ativo não é \"%0:s\""
1391, "Esquema de energia ativo não é"
}