STRINGTABLE
LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
{
0, "Português (Brasil)"
1, "Battery Mode"
2, "Selecione o esquema de energia:"
3, "Configuraçõe&s"
4, "Usar ícones &monocromáticos"
5, "Configurar"
6, "Inici&ar com o Windows"
7, "&Brilho fixo da tela"

9, "&Sair"
10, "Versão"
11, "Site do &Battery Mode"
12, "https://bmode.tarcode.ru"
13, "&Informações do sistema de fornecimento de energia"

15, "&Energia"
16, "&Ativar ou desativar ícones do sistema"
17, "Centro de &Mobilidade do Windows"

20, "Exibir &indicador do esquema de energia"
21, "&Ocultar"
22, "No monitor &primário"
23, "Em &todos os monitores"

26, "Esquemas de energia ocultos"
27, "Esquema oculto"

30, "Habilitar brilho adaptável"
31, "Desabilitar brilho adaptável"

40, "https://bmode.tarcode.ru/update.uurl"
41, "At&ualizações automáticas"
42, "Ativar atualizações aut&omáticas"
43, "V&erificar atualizações"
44, "Nova versão do %0:s disponível\nClique aqui para  mais detalhes"
45, "Atualizado com sucesso\nA nova versão é %0:s"
46, "Falha na atualização\nClique aqui para visitar o site"

50, "Exibir controle de &brilho para monitores"
51, "Localizar mo&nitores"
52, "Monitor interno"
53, "Controle &deslizante de brilho"
54, "Mostrar &modelo de monitor"
55, "Mostrar &brilho em porcentagens"
56, "Brilho"
57, "Ajustar brilho deste monitor rolando sobre o ícone da área de notificação"
58, "Reaplicar brilho após monitor voltar do standby"

60, "Economizar bateria"

80, "A&gendador"
81, "Interface"
82, "Janela principal"
83, "Ícones"

90, "Combinação de teclas para alterar esquema de energia"
91, "Desativado"
92, "Teclas de atalho"
93, "Tecla de atalho selecionada"

100, "Exportar configurações para arquivo"
101, "Importar configurações do arquivo"

105, "Configurações do %0:s"
106, "Exportar Configurações do %0:s"
107, "Importar Configurações do %0:s"

110, "Arquivos do Registro (*.reg)"
111, "Arquivos de Texto (*.txt)"
112, "Todos os Arquivos"

120, "&Cor dos ícones"
121, "Baseada no e&squema de energia"
122, "Baseada na carga da &bateria"
123, "&Branco"
124, "Baseada no e&squema de energia (invertido)"
125, "Baseada na carga da &bateria (invertido)"

130, "Desativar bo&rda da janela popup"
131, "Usar ícone &cruzado quando a bateria está ausente"
132, "Exibir &porcentagem de carga na Área de Notificação"
133, "Ícone branco para Esquema de Energia Equilibrado"
134, "&Desligar ou sair"
135, "&Link de rodapé do popup"
136, "Desli&gar tela"
137, "Des&ligar"
138, "&Reiniciar"
139, "&Suspender"
140, "&Hibernar"
141, "S&air"
142, "&Bloquear"
143, "&Solução de problemas"
144, "Status da &bateria"
145, "&Desconectar"

150, "&Idioma"
151, "Pa&drão"

160, "Máximo desempenho"
161, "Melhor desempenho"
162, "Melhor bateria"

170, "Conjunto&s de esquema de energia para usar"
171, "Esquema de energia &clássico"
172, "Modos de energia do &Windows 10"
173, "Esquemas de energia"

180, "Mostra o Indicador de Esquema de Energia grande no meio da(s) tela(s) ao mudar um Esquema de Energia"
181, "Use um Ícone de Bateria cruzada quando a bateria é removida do computador"
182, "Mostra a porcentagem de carga atual em vez do Ícone da Bateria na Área de Notificação"
183, "Torna a borda da janela mais fina e remove a sombra"
184, "Mostra os Esquemas de Energia \"Clássicos\" (ex. \"Poupar energia\" e \"Alto desempenho\") na lista de Esquemas de Energia, mesmo eles estando ocultos pelo sistema"
185, "Mostra os planos balanceados doo Modos de Energia (que são controlados pelo controle deslizante no Popup de Bateria do Windows 10) na lista de Esquemas de Energia"
186, "Mostra Esquemas de Energia ocultos, específicos do fabricante na lista de Esquemas de Energia"
187, "Configura a tecla de atalho global para alternar entre os Esquemas de Energia"
188, "Previne que o brilho interno da tela seja alterado quando você mudar um Esquema de Energia ou (des)conecta o carregador"
189, "Automaticamente verifica por atualizações (uma vez ao dia) e pergunta para atualizar"
190, "Use o ícone branco em vez de amarelo para o Esquema de Energia Equilibrado"

210, "Sobre"
211, "Autor"
212, "Artem Tarasov"
213, "Site do Battery Mode"
214, "Documentação do Battery Mode"
215, "https://en.bmode.tarcode.ru/help"
216, "Feedback"
217, "https://en.bmode.tarcode.ru/feedback"
218, "Contribua com o Battery Mode"
219, "https://en.bmode.tarcode.ru/contribute"
220, "Documentação do Agendador"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "Notas de Lançamento"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "Licença"
225, "GitHub"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "Avançado"
231, "Atraso na detecção do monitor"
232, "Você pode aumentar o tempo de detecção do monitor se tiver problemas com o desaparecimento dos indicadores de brilho"
233, "segundos"

235, "Mostrar nível de brilho no popup do ícone da área de notificação"

250, "Estilo dos í&cones"
251, "Windows 7"
252, "Windows 8"
253, "Windows 10"
254, "Windows 8 Claro"
255, "Windows 10 Claro"
256, "Windows XP"
257, "Windows Vista"
258, "Windows 11"
259, "Windows 11 Claro"
260, "Windows Longhorn"

10000, "Abrir pasta do registro de depuração"
}