STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
{
0, "正體中文"
1, "Battery Mode"
2, "選擇電源模式："
3, "設定(&S)"
4, "使用單色圖示(&M)"
5, "配置"
6, "隨 Windows 自動啟動(&A)"
7, "固定螢幕亮度(&B)"

9, "退出(&X)"
10, "版本"
11, "Battery Mode 網站(&W)"
12, "https://en.bmode.tarcode.ru"
13, "供電模組資訊(&I)"

15, "控制台電源選項(&P)"
16, "啟用或禁用系統圖示(&E)"
17, "Windows 移動中心(&M)"

20, "電源模式指示器"
21, "不顯示"
22, "僅在主顯示器上顯示"
23, "在所有顯示器上顯示"
24, "透明度"

26, "隱藏的電源模式"
27, "隱藏模式"

30, "開啟自適應亮度"
31, "關閉自適應亮度"

40, "https://bmode.tarcode.ru/update.uurl"
41, "自動更新"
42, "開啟自動更新"
43, "檢查更新"
44, "新版本 %0:s 已釋出\n點選此處瞭解更多"
45, "更新成功\n已更新至版本 %0:s"
46, "更新失敗\n點選此處訪問網站"

50, "顯示器亮度調節滑桿"
51, "掃描顯示器"
52, "內部顯示器"
53, "亮度滑桿"
54, "顯示顯示器型號"
55, "顯示亮度百分比"
56, "亮度"
57, "通過在通知區域圖示上滾動滾輪，調節顯示器亮度"
58, "在顯示器喚醒後自動重新應用亮度設定"

60, "省電模式"

70, "圖示風格"
71, "Windows 7"
72, "Windows 8"
73, "Windows 10"
74, "Windows 8 淺色"
75, "Windows 10 淺色"
76, "Windows XP"
77, "Windows Vista"
78, "Windows 11"

80, "定時任務"
81, "介面"
82, "主視窗"
83, "圖示"

90, "更改電源模式的快捷鍵組合"
91, "禁用"
92, "快捷鍵"
93, "已選快捷鍵"

100, "匯出設定到檔案"
101, "從檔案匯入設定"

105, "%0:s 設定"
106, "匯出 %0:s 設定"
107, "匯入 %0:s 設定"

110, "登錄檔檔案 (*.reg)"
111, "文字檔案 (*.txt)"
112, "所有檔案"

120, "圖示顏色"
121, "基於電源模式"
122, "基於電池電量"
123, "白色"
124, "基於電源模式 (反色)"
125, "基於電池電量 (反色)"

130, "彈出視窗不顯示邊框"
131, "在電池找不到時顯示叉號"
132, "在通知區域顯示電量百分比"
133, "對「平衡」電源模式顯示白色圖示"
134, "關機或登出"
135, "彈窗底部操作"
136, "關閉螢幕"
137, "關機"
138, "重新啟動"
139, "睡眠"
140, "休眠"
141, "登出"
142, "鎖定"
143, "故障排除"
144, "電池狀態"
145, "斷開"

150, "語言"
151, "預設"

160, "最佳效能"
161, "高效能"
162, "更長續航"

170, "使用的電源模式集合"
171, "經典電源模式"
172, "Windows 10 電源模式"
173, "電源模式"

180, "切換電源模式時，在螢幕中央顯示大圖示"
181, "電池被移除時，在電池圖示上顯示叉號"
182, "在通知區域圖示上顯示電量百分比，而非電池圖示"
183, "使用窄視窗邊框並關閉陰影"
184, "在電源模式列表中顯示「經典」電源模式 (例如「節能」和「高效能」)，即使這些模式已經被系統隱藏"
185, "在電源模式列表中顯示 Windows 10 電池滑塊控制的電源模式"
186, "在電源模式列表中顯示來自裝置供應商的隱藏電源模式"
187, "設定用於電源模式切換的全局快捷鍵"
188, "避免因切換電源模式和插入/拔出充電器引發的亮度改變"
189, "自動檢查更新 (每日一次) 並在更新前詢問"
190, "對平衡電源模式，使用白色圖示而非黃色圖示"

210, "關於"
211, "作者"
212, "Artem Tarasov"
213, "Battery Mode 網站"
214, "Battery Mode 文件"
215, "https://en.bmode.tarcode.ru/help"
216, "反饋"
217, "https://en.bmode.tarcode.ru/feedback"
218, "為 Battery Mode 做出貢獻"
219, "https://en.bmode.tarcode.ru/contribute"
220, "定時任務功能文件"
221, "https://en.bmode.tarcode.ru/scheduler-help"
222, "更新註記"
223, "https://en.bmode.tarcode.ru/releasenotes"
224, "許可證"
225, "原始碼"
226, "https://github.com/tarcode-apps/BatteryMode"

230, "高階"
231, "顯示器探測延遲"
232, "如果出現顯示器亮度滑塊消失的情況，可以增加顯示器探測延遲"
233, "秒"

235, "在通知區域彈窗顯示亮度百分比"

10000, "開啟偵錯日誌資料夾"
}