STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
{
700, "不適用"
701, "未知"

704, "供電模組"
705, "電池屬性"

710, "裝置名"
711, "製造商"
712, "生產日期"
713, "序列號"
714, "電池類型"
715, "充放迴圈數"
716, "損耗程度"
717, "電源狀態"
718, "設計容量"
719, "完全充滿容量"
720, "當前容量"
721, "電池電壓"
722, "充放電率"
723, "充電率"
724, "放電率"
725, "電池警告 1"
726, "電池警告 2"
727, "溫度"

740, "不可充電 %0:s"
741, "可充電 %0:s"
742, "不可充電"
743, "可充電"

745, "交流電源"
746, "充電中"
747, "已完全放電"
748, "放電中"

750, "顯示(&V)"
751, "置頂(&A)"

755, "檔案(&F)"
756, "關閉(&C)"
757, "儲存(&S)"
758, "另存為(&A)..."
759, "所有檔案"
760, "文字檔案"
761, "日誌檔案"

765, "電源管理屬性"

770, "當前供電源"
771, "電池狀態"
772, "充滿後可用電池壽命"
773, "當前電池壽命"

775, "%0:u 時 %1:.2u 分"
776, "%1:u 分"

780, "交流電源"
781, "不間斷電源"
782, "電池"

784, "無電池"
785, "%0:d%% (高電量，充電中)"
786, "%0:d%% (低電量，充電中)"
787, "%0:d%% (電量嚴重短缺，充電中)"
788, "%0:d%% (充電中)"
789, "%0:d%% (高電量)"
790, "%0:d%% (低電量)"
791, "%0:d%% (電量嚴重短缺)"
792, "%0:d%%"
793, "高電量, 充電中"
794, "低電量, 充電中"
795, "電量嚴重短缺, 充電中"
796, "充電中"
797, "高電量"
798, "低電量"
799, "電量嚴重短缺"
}