STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
{
900, "軟體更新"
901, "新版本 %0:s 現已釋出！"
902, "新版本 %0:s %1:s 現已釋出 (當前版本 %2:s)。你希望現在下載新版本嗎？"
903, "更新註記："
904, "跳過這個版本"
905, "稍後提醒"
906, "安裝更新"
907, "已經是最新版本！"
908, "版本 %0:s %1:s 已經是當前可用的最新版本"
909, "關閉"
910, "下載更新時出現錯誤"
911, "無法初始化更新"
912, "當前版本"
}
