STRINGTABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
{
600, "桌面電腦"

621, "已插入電源，充電中"
622, "充滿還需要 %0:u 時 %%1:.2u 分"
623, "充滿還需要 %1:u 分"
624, "可用 %2:u%% (已插入電源，充電中)"
625, "可用 %2:u%% (已插入電源，未在充電)"
626, "已充滿 (100%%)"
627, "沒有檢測到電池"
628, "已插入電源，未在充電"

650, "剩餘 %0:u 時 %1:.2u 分 (%2:u%%)"
651, "剩餘 %1:u 分 (%2:u%%)"
654, "剩餘 %2:u%%"
655, "剩餘電量未知"

670, "剩餘 %2:u%% \n應更換電池"
671, "剩餘電量未知\n應更換電池"
672, "已插入電源，充電中\n應更換電池"
673, "可用 %2:u%% (已插入電源，充電中)\n應更換電池"
674, "可用 %2:u%% (已插入電源，未在充電)\n應更換電池"
675, "已充滿 (100%%)\n應更換電池"

680, "節電模式已啟用"
}